header, footer
{
    position: fixed;
    z-index: 1;
}

main
{
    width: 80%;
}

article
{
    border-box: 3px solid #000000;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

article:last-child
{
    margin-bottom: 0;
}

section
{
    border: 2px solid #3F3F3F;;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #00BFBF;
    position: relative;
}

section:last-child
{
    margin-bottom: 0;
}

aside
{
    width: 20%;
    border: 2px solid #7F7F7F;
    box-sizing: border-box;
    background-color: #007F7F;
}

figure
{
    width: 100%;
}

main img
{
    max-width: 100px;
}

aside img
{
    width: 100%;
}


/* To delete when framework is implemented -------------------------------------------------------- */
figure
{
    margin: 0;
}

.FLEX
{
    display: flex;
    width: 100%;
}
.FLEX>*
{
    flex-grow: 1;
}

.TOPLEFT, .TOP, .TOPRIGHT, .LEFT, .MIDDLE, .RIGHT, .BOTTOMLEFT, .BOTTOM, .BOTTOMRIGHT
{
    position: absolute;
}
.TOPLEFT
{
    top: 0;
    left: 0;
}
.TOP
{
    top: 0;
    left: 50%;
    transform: translate(-50%);
}
.TOPRIGHT
{
    top: 0;
    right: 0;
}
.LEFT
{
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
.MIDDLE
{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.RIGHT
{
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}
.BOTTOMLEFT
{
    bottom: 0;
    left: 0;
}
.BOTTOM
{
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
.BOTTOMRIGHT
{
    bottom: 0;
    right: 0;
}
