/************************************************************POSITION START******************************/
.left {
    left: 0;
}

.right {
    right: 0;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.middle {
    bottom: 50%;
    top: 50%;
    left: 50%;
    right: 50%;
}

.topleft {
    top: 0;
    left: 0;
}

.topright {
    top: 0;
    right: 0;
}

.bottomleft {
    bottom: 0;
    left: 0;
}

.bottomright {
    bottom: 0;
    right: 0;
}
/******************************POSITION END******************************/
/******************************CELL SIZE START******************************/
.casesizex01{
  width: 10%;
  height: 10%;
}
.casesizex02{
  width: 20%;
  height: 20%;
}
.casesizex03{
  width: 0%;
  height: 30%;
}
.casesizex04{
  width: 40%;
  height: 40%;
}
.casesizex05{
  width: 50%;
  height: 50%;
}
.casesizex06{
  width: 60%;
  height: 60%;
}
.casesizex07{
  width: 70%;
  height: 70%;
}
.casesizex08{
  width: 80%;
  height: 80%;
}
.casesizex09{
  width: 90%;
  height: 90%;
}
.casesizex1{
  width: 100%;
  height: 100%;
}
.casesizex2{
  width: 200%;
  height: 200%;
}
.casesizex3{
  width: 300%;
  height: 300%;
}
.casesizex4{
  width: 400%;
  height: 400%;
}
.casesizex5{
  width: 500%;
  height: 500%;
}
/******************************CELL SIZE END******************************/



.grid{
  display: table;
  width: 100%;
background-color: blue;
}
.lol{
  background-color: purple;
}
