.left {
    left: 0;
}

.right {
    right: 0;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.middle {
    bottom: 50%;
    top: 50%;
    left: 50%;
    right: 50%;
}

.topleft {
    top: 0;
    left: 0;
}

.topright {
    top: 0;
    right: 0;
}

.bottomleft {
    bottom: 0;
    left: 0;
}

.bottomright {
    bottom: 0;
    right: 0;
}
.casesizex1{
  width: 100%;
  height: auto;
}
.casesizex2{
  width: 200%;
  height: auto;
}
.casesizex3{
  width: 300%;
  height: auto;
}
.casesizex4{
  width: 400%;
  height: auto;
}
.casesizex5{
  width: 500%;
  height: auto;
}
