body{
  margin: 0;
}

nav.menu, .menu p, .menu p a, ul.menu, .menu li ul{
  margin: 0;
  padding: 0;
}

ul.menu, .menu li ul{
  z-index: 1;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.menu p a{
  display: none;
}

.menu li ul{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  position: absolute;
  top: -999em;
}

.menu  li{
  display: inline-block;
  flex: 1;
  text-align: center;
  min-width: 180px;
  line-height: 200%;
  border: 1px solid white;
}

.menu li ul li{
  position: relative;
}

.menu  a{
  display: block;
  font-size: 1em;
  text-decoration: none;
  background-color: black;
  color: white;
}

.menu li ul li a{
  background: silver;
  color: black;
}

.menu  li:hover, .menu li ul li:hover, .menu li:active, .menu li ul li:active, .menu p:hover, .menu p:active{
  transform: scale(1.05);
  font-weight: bold;
}

.menu li:hover ul, .menu li:active ul{
  top: auto;
}

@media screen and (max-width: 640px){
  nav.menu{
    display: inline-block;
    position: relative;
  }

  .menu p a{
    margin: 0;
    padding: 0;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 300%;
    text-align: center;
    background-color: black;
    color: white;
  }

  ul.menu{
    display: flex;
    flex-direction: column;
    width: 180px;
    margin: auto;
    position: absolute;
    top: -999em;
  }

  ul.menu > li{
    position: relative;
  }

  nav.menu:hover ul.menu, nav.menu:active ul.menu{
    top: 50px;
    left: 0;
  }

  .menu li:hover ul, .menu li:active ul{
    top: -1px;
    left: 176px;
  }
