body{
  margin: 0;
}

.menu, .menu li ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.menu li ul{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  position: absolute;
  top: -999em;
}

.menu  li{
  display: inline-block;
  flex: 1;
  text-align: center;
  min-width: 180px;
  line-height: 200%;
  border: 1px solid white;
}

.menu li ul li{
  position: relative;
}

.menu  a{
  display: block;
  font-size: 1em;
  text-decoration: none;
  background-color: black;
  color: white;
}

.menu li ul li a{
  background: silver;
  color: black;
}

.menu  li:hover, .menu li ul li:hover{
  transform: scale(1.05);
  font-weight: bold;
}

.menu li:hover ul{
  top: auto;
}
