header, footer
{
    position: fixed;
    z-index: 1;
}

article
{
    width: 100%;
    margin-bottom: 10px;
}

section
{
    border: 3px solid #000000;
    width: 100%;
    margin-bottom: 5px;
    box-sizing: border-box;
}

h3
{
    width: 100%;
    box-sizing: border-box;
    background-color: #FFFF00;
}

div.rules-container
{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

div.rule-container
{
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

div.rule-container div
{
    box-sizing: border-box;
}

div.rule-text
{
    width: 30%;
    background-color: #FF0000;
}

div.rule-show
{
    flex-grow: 1;
    display: flex;
    background-color: #00FFFF;
}

div.rule-show >div
{
    width: 50%;
}

div.rule-show > div:first-child
{
    border: 2px solid #3F3F3F;
}
.avec{
  float: right;
  padding-right: 20%;
}
.sans{
padding-left: 40%;
}
.ololbackground1 {
    background: linear-gradient(325deg, #1dddac, #941f1f);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
}

.ololbackground2 {
    background: linear-gradient(325deg, #3866b4, #528c32, #a13337);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 14%
    }
    50% {
        background-position: 100% 87%
    }
    100% {
        background-position: 0% 14%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 14%
    }
    50% {
        background-position: 100% 87%
    }
    100% {
        background-position: 0% 14%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 14%
    }
    50% {
        background-position: 100% 87%
    }
    100% {
        background-position: 0% 14%
    }
}
