.left, .right, .top, .bottom, .middle, .topleft, .topright, .bottomleft, .bottomright {
    position: absolute;
}


/************************************************************POSITION START******************************/

.left {
    left: 0%;
    top: 50%;
        transform: translateY(-50%);
}

.right {
    right: 0%;
    top: 50%;
        transform: translateY(-50%);
}

.top {
    left: 50%;
    top: 0%;
transform: translate(-50%);
}

.bottom {
    bottom: 0%;
    left: 50%;
        transform: translate(-50%);
}

.middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.topleft {
    top: 0%;
    left: 0%;
}

.topright {
    top: 0;
    right: 0;
}

.bottomleft {
    bottom: 0;
    left: 0;
}

.bottomright {
    bottom: 0;
    right: 0;
}


/******************************POSITION END******************************/


/******************************CELL SIZE START******************************/

.CASESIZEx01 {
    width: 10%;
    height: 10%;
}

.CASESIZEx02 {
    width: 20%;
    height: 20%;
}

.CASESIZEx03 {
    width: 30%;
    height: 30%;
}

.CASESIZEx04 {
    width: 40%;
    height: 40%;
}

.CASESIZEx05 {
    width: 50%;
    height: 50%;
}

.CASESIZEx06 {
    width: 60%;
    height: 60%;
}

.CASESIZEx07 {
    width: 70%;
    height: 70%;
}

.CASESIZEx08 {
    width: 80%;
    height: 80%;
}

.CASESIZEx09 {
    width: 90%;
    height: 90%;
}

.CASESIZEx1 {
    width: 100%;
    height: 100%;
}

.CASESIZEx2 {
    width: 200%;
    height: 200%;
}

.CASESIZEx3 {
    width: 300%;
    height: 300%;
}

.CASESIZEx4 {
    width: 400%;
    height: 400%;
}

.CASESIZEx5 {
    width: 500%;
    height: 500%;
}


/******************************CELL SIZE END******************************/

/*********************************************************************************/
.FLEX{
  display: flex;
  flex-direction: row;
  width: 100%;

}
.FLEX >* {
    flex: 1;
}
/******************************************************************************/

/******************************MAX SIZE OF PARENT START******************************/

.MAXCONTENTWIDTH01 {
    max-width: 10%;
}

.MAXCONTENTWIDTH02 {
    max-width: 20%;
}

.MAXCONTENTWIDTH03 {
    max-width: 30%;
}

.MAXCONTENTWIDTH04 {
    max-width: 40%;
}

.MAXCONTENTWIDTH05 {
    max-width: 50%;
}

.MAXCONTENTWIDTH06 {
    max-width: 60%;
}

.MAXCONTENTWIDTH07 {
    max-width: 70%;
}

.MAXCONTENTWIDTH08 {
    max-width: 80%;
}

.MAXCONTENTWIDTH09 {
    max-width: 90%;
}

.MAXCONTENTWIDTH1 {
    max-width: 100%;
}

/*******************************MAX SIZE OF PARENT END******************************************/

.RESIZEFROMUSER {
    resize: both;
    overflow: auto;
}

.CUBE {
    display: block;
    position: relative;
    border: 1px solid blue;
}
.TABLETITLE {
    border: 1px solid black;
    background-color: rgba(42, 12, 237, 0.9);
}
