body{
  margin: 0;
}

nav.menu, .menu p, .menu p a, .menu div, .menu ul, .menu label, .menu input, .menu li{
  margin: 0;
  padding: 0;
}

nav.menu{
  display: flex;
}

nav.menu div{
  z-index: 1;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

.menu p a{
  display: none;
}

.menu div div{
  flex-direction: column;
  width: 100%;
}

.menu label{
  cursor: pointer;
  display: block;
}
.menu label + input{
  display: none; /* hide the checkboxes */
}
.menu label + input + ul, .menu + input + div{
  display: none;
}

.menu  li, .menu label{
  display: inline-block;
  flex: 1;
  text-align: center;
  min-width: 180px;
  max-width: 250px;
  line-height: 200%;
  border: 1px solid white;
  background-color: black;
}

.menu ul li, .menu div label{
  position: relative;
  top: auto;
  left: 0;
}

.menu  a, .menu label{
  display: block;
  font-size: 1em;
  text-decoration: none;
  color: white;
}

.menu ul ul li a, .menu div div label{
  background: grey;
  color: black;
}

.menu ul ul ul li a, .menu div div div label{
  background-color: silver;
  color: black;
}

.menu label:hover, .menu  li:hover, .menu p:hover, .menu label:active, .menu li:active, .menu p:active{
  transform: scale(1.05);
  font-weight: bold;
}

.menu label + input:checked + ul, .menu label + input:checked + div{
  display: flex;
}



@media screen and (max-width: 640px){
  nav.menu{
    display: inline-block;
    position: relative;
  }

  .menu p a{
    margin: 0;
    padding: 0;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 600%;
    text-align: center;
    background-color: black;
    color: white;
  }

  nav.menu > ul{
    display: flex;
    flex-direction: column;
    width: 180px;
    margin: auto;
    position: absolute;
    top: -999em;
  }

  nav.menu > ul > li{
    position: relative;
  }

  nav.menu:hover > ul, nav.menu:active > ul{
    top: 50px;
    left: 0;
  }

  nav.menu > ul > li:hover > ul, nav.menu > ul > li:active > ul{
    position: relative;
    top: auto;
    left: 0;
  }
