/* Padding -------------------------------------------------------------------- */
/* Top -------------------------------- */
.PADDINGTOP1, .PT1,
.PADDINGALL1, .PA1
{
    padding-top: 1px;
}
.PADDINGTOP2, .PT2,
.PADDINGALL2, .PA2
{
    padding-top: 2px;
}
.PADDINGTOP3, .PT3,
.PADDINGALL3, .PA3
{
    padding-top: 3px;
}
.PADDINGTOP4, .PT4,
.PADDINGALL4, .PA4
{
    padding-top: 4px;
}
.PADDINGTOP5, .PT5,
.PADDINGALL5, .PA5
{
    padding-top: 5px;
}
.PADDINGTOP10, .PT10,
.PADDINGALL10, .PA10
{
    padding-top: 10px;
}
.PADDINGTOP15, .PT15,
.PADDINGALL15, .PA15
{
    padding-top: 15px;
}
.PADDINGTOP20, .PT20,
.PADDINGALL20, .PA20
{
    padding-top: 20px;
}
.PADDINGTOP25, .PT25,
.PADDINGALL25, .PA25
{
    padding-top: 25px;
}
/* Right -------------------------------- */
.PADDINGRIGHT1, .PR1,
.PADDINGALL1, .PA1
{
    padding-right: 1px;
}
.PADDINGRIGHT2, .PR2,
.PADDINGALL2, .PA2
{
    padding-right: 2px;
}
.PADDINGRIGHT3, .PR3,
.PADDINGALL3, .PA3
{
    padding-right: 3px;
}
.PADDINGRIGHT4, .PR4,
.PADDINGALL4, .PA4
{
    padding-right: 4px;
}
.PADDINGRIGHT5, .PR5,
.PADDINGALL5, .PA5
{
    padding-right: 5px;
}
.PADDINGRIGHT10, .PR10,
.PADDINGALL10, .PA10
{
    padding-right: 10px;
}
.PADDINGRIGHT15, .PR15,
.PADDINGALL15, .PA15
{
    padding-right: 15px;
}
.PADDINGRIGHT20, .PR20,
.PADDINGALL20, .PA20
{
    padding-right: 20px;
}
.PADDINGRIGHT25, .PR25,
.PADDINGALL25, .PA25
{
    padding-right: 25px;
}
/* Bottom -------------------------------- */
.PADDINGBOTTOM1, .PB1,
.PADDINGALL1, .PA1
{
    padding-bottom: 1px;
}
.PADDINGBOTTOM2, .PB2,
.PADDINGALL2, .PA2
{
    padding-bottom: 2px;
}
.PADDINGBOTTOM3, .PB3,
.PADDINGALL3, .PA3
{
    padding-bottom: 3px;
}
.PADDINGBOTTOM4, .PB4,
.PADDINGALL4, .PA4
{
    padding-bottom: 4px;
}
.PADDINGBOTTOM5, .PB5,
.PADDINGALL5, .PA5
{
    padding-bottom: 5px;
}
.PADDINGBOTTOM10, .PB10,
.PADDINGALL10, .PA10
{
    padding-bottom: 10px;
}
.PADDINGBOTTOM15, .PB15,
.PADDINGALL15, .PA15
{
    padding-bottom: 15px;
}
.PADDINGBOTTOM20, .PB20,
.PADDINGALL20, .PA20
{
    padding-bottom: 20px;
}
.PADDINGBOTTOM25, .PB25,
.PADDINGALL25, .PA25
{
    padding-bottom: 25px;
}
/* Left -------------------------------- */
.PADDINGLEFT1, .PL1,
.PADDINGALL1, .PA1
{
    padding-left: 1px;
}
.PADDINGLEFT2, .PL2,
.PADDINGALL2, .PA2
{
    padding-left: 2px;
}
.PADDINGLEFT3, .PL3,
.PADDINGALL3, .PA3
{
    padding-left: 3px;
}
.PADDINGLEFT4, .PL4,
.PADDINGALL4, .PA4
{
    padding-left: 4px;
}
.PADDINGLEFT5, .PL5,
.PADDINGALL5, .PA5
{
    padding-left: 5px;
}
.PADDINGLEFT10, .PL10,
.PADDINGALL10, .PA10
{
    padding-left: 10px;
}
.PADDINGLEFT15, .PL15,
.PADDINGALL15, .PA15
{
    padding-left: 15px;
}
.PADDINGLEFT20, .PL20,
.PADDINGALL20, .PA20
{
    padding-left: 20px;
}
.PADDINGLEFT25, .PL25,
.PADDINGALL25, .PA25
{
    padding-left: 25px;
}

/* Margin -------------------------------------------------------------------- */
/* Top -------------------------------- */
.MARGINTOP1, .MT1,
.MARGINALL1, .MA1
{
    margin-top: 1px;
}
.MARGINTOP2, .MT2,
.MARGINALL2, .MA2
{
    margin-top: 2px;
}
.MARGINTOP3, .MT3,
.MARGINALL3, .MA3
{
    margin-top: 3px;
}
.MARGINTOP4, .MT4,
.MARGINALL4, .MA4
{
    margin-top: 4px;
}
.MARGINTOP5, .MT5,
.MARGINALL5, .MA5
{
    margin-top: 5px;
}
.MARGINTOP10, .MT10,
.MARGINALL10, .MA10
{
    margin-top: 10px;
}
.MARGINTOP15, .MT15,
.MARGINALL15, .MA15
{
    margin-top: 15px;
}
.MARGINTOP20, .MT20,
.MARGINALL20, .MA20
{
    margin-top: 20px;
}
.MARGINTOP25, .MT25,
.MARGINALL25, .MA25
{
    margin-top: 25px;
}
/* Right -------------------------------- */
.MARGINRIGHT1, .MR1,
.MARGINALL1, .MA1
{
    margin-right: 1px;
}
.MARGINRIGHT2, .MR2,
.MARGINALL2, .MA2
{
    margin-right: 2px;
}
.MARGINRIGHT3, .MR3,
.MARGINALL3, .MA3
{
    margin-right: 3px;
}
.MARGINRIGHT4, .MR4,
.MARGINALL4, .MA4
{
    margin-right: 4px;
}
.MARGINRIGHT5, .MR5,
.MARGINALL5, .MA5
{
    margin-right: 5px;
}
.MARGINRIGHT10, .MR10,
.MARGINALL10, .MA10
{
    margin-right: 10px;
}
.MARGINRIGHT15, .MR15,
.MARGINALL15, .MA15
{
    margin-right: 15px;
}
.MARGINRIGHT20, .MR20,
.MARGINALL20, .MA20
{
    margin-right: 20px;
}
.MARGINRIGHT25, .MR25,
.MARGINALL25, .MA25
{
    margin-right: 25px;
}
/* Bottom -------------------------------- */
.MARGINBOTTOM1, .MB1,
.MARGINALL1, .MA1
{
    margin-bottom: 1px;
}
.MARGINBOTTOM2, .MB2,
.MARGINALL2, .MA2
{
    margin-bottom: 2px;
}
.MARGINBOTTOM3, .MB3,
.MARGINALL3, .MA3
{
    margin-bottom: 3px;
}
.MARGINBOTTOM4, .MB4,
.MARGINALL4, .MA4
{
    margin-bottom: 4px;
}
.MARGINBOTTOM5, .MB5,
.MARGINALL5, .MA5
{
    margin-bottom: 5px;
}
.MARGINBOTTOM10, .MB10,
.MARGINALL10, .MA10
{
    margin-bottom: 10px;
}
.MARGINBOTTOM15, .MB15,
.MARGINALL15, .MA15
{
    margin-bottom: 15px;
}
.MARGINBOTTOM20, .MB20,
.MARGINALL20, .MA20
{
    margin-bottom: 20px;
}
.MARGINBOTTOM25, .MB25,
.MARGINALL25, .MA25
{
    margin-bottom: 25px;
}
/* Left -------------------------------- */
.MARGINLEFT1, .ML1,
.MARGINALL1, .MA1
{
    margin-left: 1px;
}
.MARGINLEFT2, .ML2,
.MARGINALL2, .MA2
{
    margin-left: 2px;
}
.MARGINLEFT3, .ML3,
.MARGINALL3, .MA3
{
    margin-left: 3px;
}
.MARGINLEFT4, .ML4,
.MARGINALL4, .MA4
{
    margin-left: 4px;
}
.MARGINLEFT5, .ML5,
.MARGINALL5, .MA5
{
    margin-left: 5px;
}
.MARGINLEFT10, .ML10,
.MARGINALL10, .MA10
{
    margin-left: 10px;
}
.MARGINLEFT15, .ML15,
.MARGINALL15, .MA15
{
    margin-left: 15px;
}
.MARGINLEFT20, .ML20,
.MARGINALL20, .MA20
{
    margin-left: 20px;
}
.MARGINLEFT25, .ML25,
.MARGINALL25, .MA25
{
    margin-left: 25px;
}

/* Border --------------------------------------------------------------------- */
/* Top -------------------------------- */
.BORDERTOPDASHEDRED1, .BTDAR1,
.BORDERTOPDASHEDGREEN1, .BTDAG1,
.BORDERTOPDASHEDBLUE1, .BTDAB1,
.BORDERTOPDASHEDYELLOW1, .BTDAY1,
.BORDERTOPDASHEDBLACK1, .BTDA01,
.BORDERTOPDASHEDWHITE1, .BTDAW1,
.BORDERTOPDASHEDGREY11, .BTDAG11,
.BORDERTOPDASHEDGREY21, .BTDAG21,
.BORDERTOPDASHEDGREY31, .BTDAG31,
.BORDERTOPDOUBLERED1, .BTDOR1,
.BORDERTOPDOUBLEGREEN1, .BTDOG1,
.BORDERTOPDOUBLEBLUE1, .BTDOB1,
.BORDERTOPDOUBLEYELLOW1, .BTDOY1,
.BORDERTOPDOUBLEBLACK1, .BTDO01,
.BORDERTOPDOUBLEWHITE1, .BTDOW1,
.BORDERTOPDOUBLEGREY11, .BTDOG11,
.BORDERTOPDOUBLEGREY21, .BTDOG21,
.BORDERTOPDOUBLEGREY31, .BTDOG31,
.BORDERTOPDOTTEDRED1, .BTDTR1,
.BORDERTOPDOTTEDGREEN1, .BTDTG1,
.BORDERTOPDOTTEDBLUE1, .BTDTB1,
.BORDERTOPDOTTEDYELLOW1, .BTDTY1,
.BORDERTOPDOTTEDBLACK1, .BTDT01,
.BORDERTOPDOTTEDWHITE1, .BTDTW1,
.BORDERTOPDOTTEDGREY11, .BTDTG11,
.BORDERTOPDOTTEDGREY21, .BTDTG21,
.BORDERTOPDOTTEDGREY31, .BTDTG31,
.BORDERTOPSOLIDRED1, .BTSOR1,
.BORDERTOPSOLIDGREEN1, .BTSOG1,
.BORDERTOPSOLIDBLUE1, .BTSOB1,
.BORDERTOPSOLIDYELLOW1, .BTSOY1,
.BORDERTOPSOLIDBLACK1, .BTSO01,
.BORDERTOPSOLIDWHITE1, .BTSOW1,
.BORDERTOPSOLIDGREY11, .BTSOG11,
.BORDERTOPSOLIDGREY21, .BTSOG21,
.BORDERTOPSOLIDGREY31, .BTSOG31,
.BORDERALLDASHEDRED1, .BADAR1,
.BORDERALLDASHEDGREEN1, .BADAG1,
.BORDERALLDASHEDBLUE1, .BADAB1,
.BORDERALLDASHEDYELLOW1, .BADAY1,
.BORDERALLDASHEDBLACK1, .BADA01,
.BORDERALLDASHEDWHITE1, .BADAW1,
.BORDERALLDASHEDGREY11, .BADAG11,
.BORDERALLDASHEDGREY21, .BADAG21,
.BORDERALLDASHEDGREY31, .BADAG31,
.BORDERALLDOUBLERED1, .BADOR1,
.BORDERALLDOUBLEGREEN1, .BADOG1,
.BORDERALLDOUBLEBLUE1, .BADOB1,
.BORDERALLDOUBLEYELLOW1, .BADOY1,
.BORDERALLDOUBLEBLACK1, .BADO01,
.BORDERALLDOUBLEWHITE1, .BADOW1,
.BORDERALLDOUBLEGREY11, .BADOG11,
.BORDERALLDOUBLEGREY21, .BADOG21,
.BORDERALLDOUBLEGREY31, .BADOG31,
.BORDERALLDOTTEDRED1, .BADTR1,
.BORDERALLDOTTEDGREEN1, .BADTG1,
.BORDERALLDOTTEDBLUE1, .BADTB1,
.BORDERALLDOTTEDYELLOW1, .BADTY1,
.BORDERALLDOTTEDBLACK1, .BADT01,
.BORDERALLDOTTEDWHITE1, .BADTW1,
.BORDERALLDOTTEDGREY11, .BADTG11,
.BORDERALLDOTTEDGREY21, .BADTG21,
.BORDERALLDOTTEDGREY31, .BADTG31,
.BORDERALLSOLIDRED1, .BASOR1,
.BORDERALLSOLIDGREEN1, .BASOG1,
.BORDERALLSOLIDBLUE1, .BASOB1,
.BORDERALLSOLIDYELLOW1, .BASOY1,
.BORDERALLSOLIDBLACK1, .BASO01,
.BORDERALLSOLIDWHITE1, .BASOW1,
.BORDERALLSOLIDGREY11, .BASOG11,
.BORDERALLSOLIDGREY21, .BASOG21,
.BORDERALLSOLIDGREY31, .BASOG31
{
    border-top-width: 1px;
}
.BORDERTOPDASHEDRED2, .BTDAR2,
.BORDERTOPDASHEDGREEN2, .BTDAG2,
.BORDERTOPDASHEDBLUE2, .BTDAB2,
.BORDERTOPDASHEDYELLOW2, .BTDAY2,
.BORDERTOPDASHEDBLACK2, .BTDA02,
.BORDERTOPDASHEDWHITE2, .BTDAW2,
.BORDERTOPDASHEDGREY12, .BTDAG12,
.BORDERTOPDASHEDGREY22, .BTDAG22,
.BORDERTOPDASHEDGREY32, .BTDAG32,
.BORDERTOPDOUBLERED2, .BTDOR2,
.BORDERTOPDOUBLEGREEN2, .BTDOG2,
.BORDERTOPDOUBLEBLUE2, .BTDOB2,
.BORDERTOPDOUBLEYELLOW2, .BTDOY2,
.BORDERTOPDOUBLEBLACK2, .BTDO02,
.BORDERTOPDOUBLEWHITE2, .BTDOW2,
.BORDERTOPDOUBLEGREY12, .BTDOG12,
.BORDERTOPDOUBLEGREY22, .BTDOG22,
.BORDERTOPDOUBLEGREY32, .BTDOG32,
.BORDERTOPDOTTEDRED2, .BTDTR2,
.BORDERTOPDOTTEDGREEN2, .BTDTG2,
.BORDERTOPDOTTEDBLUE2, .BTDTB2,
.BORDERTOPDOTTEDYELLOW2, .BTDTY2,
.BORDERTOPDOTTEDBLACK2, .BTDT02,
.BORDERTOPDOTTEDWHITE2, .BTDTW2,
.BORDERTOPDOTTEDGREY12, .BTDTG12,
.BORDERTOPDOTTEDGREY22, .BTDTG22,
.BORDERTOPDOTTEDGREY32, .BTDTG32,
.BORDERTOPSOLIDRED2, .BTSOR2,
.BORDERTOPSOLIDGREEN2, .BTSOG2,
.BORDERTOPSOLIDBLUE2, .BTSOB2,
.BORDERTOPSOLIDYELLOW2, .BTSOY2,
.BORDERTOPSOLIDBLACK2, .BTSO02,
.BORDERTOPSOLIDWHITE2, .BTSOW2,
.BORDERTOPSOLIDGREY12, .BTSOG12,
.BORDERTOPSOLIDGREY22, .BTSOG22,
.BORDERTOPSOLIDGREY32, .BTSOG32,
.BORDERALLDASHEDRED2, .BADAR2,
.BORDERALLDASHEDGREEN2, .BADAG2,
.BORDERALLDASHEDBLUE2, .BADAB2,
.BORDERALLDASHEDYELLOW2, .BADAY2,
.BORDERALLDASHEDBLACK2, .BADA02,
.BORDERALLDASHEDWHITE2, .BADAW2,
.BORDERALLDASHEDGREY12, .BADAG12,
.BORDERALLDASHEDGREY22, .BADAG22,
.BORDERALLDASHEDGREY32, .BADAG32,
.BORDERALLDOUBLERED2, .BADOR2,
.BORDERALLDOUBLEGREEN2, .BADOG2,
.BORDERALLDOUBLEBLUE2, .BADOB2,
.BORDERALLDOUBLEYELLOW2, .BADOY2,
.BORDERALLDOUBLEBLACK2, .BADO02,
.BORDERALLDOUBLEWHITE2, .BADOW2,
.BORDERALLDOUBLEGREY12, .BADOG12,
.BORDERALLDOUBLEGREY22, .BADOG22,
.BORDERALLDOUBLEGREY32, .BADOG32,
.BORDERALLDOTTEDRED2, .BADTR2,
.BORDERALLDOTTEDGREEN2, .BADTG2,
.BORDERALLDOTTEDBLUE2, .BADTB2,
.BORDERALLDOTTEDYELLOW2, .BADTY2,
.BORDERALLDOTTEDBLACK2, .BADT02,
.BORDERALLDOTTEDWHITE2, .BADTW2,
.BORDERALLDOTTEDGREY12, .BADTG12,
.BORDERALLDOTTEDGREY22, .BADTG22,
.BORDERALLDOTTEDGREY32, .BADTG32,
.BORDERALLSOLIDRED2, .BASOR2,
.BORDERALLSOLIDGREEN2, .BASOG2,
.BORDERALLSOLIDBLUE2, .BASOB2,
.BORDERALLSOLIDYELLOW2, .BASOY2,
.BORDERALLSOLIDBLACK2, .BASO02,
.BORDERALLSOLIDWHITE2, .BASOW2,
.BORDERALLSOLIDGREY12, .BASOG12,
.BORDERALLSOLIDGREY22, .BASOG22,
.BORDERALLSOLIDGREY32, .BASOG32
{
    border-top-width: 2px;
}
.BORDERTOPDASHEDRED3, .BTDAR3,
.BORDERTOPDASHEDGREEN3, .BTDAG3,
.BORDERTOPDASHEDBLUE3, .BTDAB3,
.BORDERTOPDASHEDYELLOW3, .BTDAY3,
.BORDERTOPDASHEDBLACK3, .BTDA03,
.BORDERTOPDASHEDWHITE3, .BTDAW3,
.BORDERTOPDASHEDGREY13, .BTDAG13,
.BORDERTOPDASHEDGREY23, .BTDAG23,
.BORDERTOPDASHEDGREY33, .BTDAG33,
.BORDERTOPDOUBLERED3, .BTDOR3,
.BORDERTOPDOUBLEGREEN3, .BTDOG3,
.BORDERTOPDOUBLEBLUE3, .BTDOB3,
.BORDERTOPDOUBLEYELLOW3, .BTDOY3,
.BORDERTOPDOUBLEBLACK3, .BTDO03,
.BORDERTOPDOUBLEWHITE3, .BTDOW3,
.BORDERTOPDOUBLEGREY13, .BTDOG13,
.BORDERTOPDOUBLEGREY23, .BTDOG23,
.BORDERTOPDOUBLEGREY33, .BTDOG33,
.BORDERTOPDOTTEDRED3, .BTDTR3,
.BORDERTOPDOTTEDGREEN3, .BTDTG3,
.BORDERTOPDOTTEDBLUE3, .BTDTB3,
.BORDERTOPDOTTEDYELLOW3, .BTDTY3,
.BORDERTOPDOTTEDBLACK3, .BTDT03,
.BORDERTOPDOTTEDWHITE3, .BTDTW3,
.BORDERTOPDOTTEDGREY13, .BTDTG13,
.BORDERTOPDOTTEDGREY23, .BTDTG23,
.BORDERTOPDOTTEDGREY33, .BTDTG33,
.BORDERTOPSOLIDRED3, .BTSOR3,
.BORDERTOPSOLIDGREEN3, .BTSOG3,
.BORDERTOPSOLIDBLUE3, .BTSOB3,
.BORDERTOPSOLIDYELLOW3, .BTSOY3,
.BORDERTOPSOLIDBLACK3, .BTSO03,
.BORDERTOPSOLIDWHITE3, .BTSOW3,
.BORDERTOPSOLIDGREY13, .BTSOG13,
.BORDERTOPSOLIDGREY23, .BTSOG23,
.BORDERTOPSOLIDGREY33, .BTSOG33,
.BORDERALLDASHEDRED3, .BADAR3,
.BORDERALLDASHEDGREEN3, .BADAG3,
.BORDERALLDASHEDBLUE3, .BADAB3,
.BORDERALLDASHEDYELLOW3, .BADAY3,
.BORDERALLDASHEDBLACK3, .BADA03,
.BORDERALLDASHEDWHITE3, .BADAW3,
.BORDERALLDASHEDGREY13, .BADAG13,
.BORDERALLDASHEDGREY23, .BADAG23,
.BORDERALLDASHEDGREY33, .BADAG33,
.BORDERALLDOUBLERED3, .BADOR3,
.BORDERALLDOUBLEGREEN3, .BADOG3,
.BORDERALLDOUBLEBLUE3, .BADOB3,
.BORDERALLDOUBLEYELLOW3, .BADOY3,
.BORDERALLDOUBLEBLACK3, .BADO03,
.BORDERALLDOUBLEWHITE3, .BADOW3,
.BORDERALLDOUBLEGREY13, .BADOG13,
.BORDERALLDOUBLEGREY23, .BADOG23,
.BORDERALLDOUBLEGREY33, .BADOG33,
.BORDERALLDOTTEDRED3, .BADTR3,
.BORDERALLDOTTEDGREEN3, .BADTG3,
.BORDERALLDOTTEDBLUE3, .BADTB3,
.BORDERALLDOTTEDYELLOW3, .BADTY3,
.BORDERALLDOTTEDBLACK3, .BADT03,
.BORDERALLDOTTEDWHITE3, .BADTW3,
.BORDERALLDOTTEDGREY13, .BADTG13,
.BORDERALLDOTTEDGREY23, .BADTG23,
.BORDERALLDOTTEDGREY33, .BADTG33,
.BORDERALLSOLIDRED3, .BASOR3,
.BORDERALLSOLIDGREEN3, .BASOG3,
.BORDERALLSOLIDBLUE3, .BASOB3,
.BORDERALLSOLIDYELLOW3, .BASOY3,
.BORDERALLSOLIDBLACK3, .BASO03,
.BORDERALLSOLIDWHITE3, .BASOW3,
.BORDERALLSOLIDGREY13, .BASOG13,
.BORDERALLSOLIDGREY23, .BASOG23,
.BORDERALLSOLIDGREY33, .BASOG33
{
    border-top-width: 3px;
}
.BORDERTOPDASHEDRED4, .BTDAR4,
.BORDERTOPDASHEDGREEN4, .BTDAG4,
.BORDERTOPDASHEDBLUE4, .BTDAB4,
.BORDERTOPDASHEDYELLOW4, .BTDAY4,
.BORDERTOPDASHEDBLACK4, .BTDA04,
.BORDERTOPDASHEDWHITE4, .BTDAW4,
.BORDERTOPDASHEDGREY14, .BTDAG14,
.BORDERTOPDASHEDGREY24, .BTDAG24,
.BORDERTOPDASHEDGREY34, .BTDAG34,
.BORDERTOPDOUBLERED4, .BTDOR4,
.BORDERTOPDOUBLEGREEN4, .BTDOG4,
.BORDERTOPDOUBLEBLUE4, .BTDOB4,
.BORDERTOPDOUBLEYELLOW4, .BTDOY4,
.BORDERTOPDOUBLEBLACK4, .BTDO04,
.BORDERTOPDOUBLEWHITE4, .BTDOW4,
.BORDERTOPDOUBLEGREY14, .BTDOG14,
.BORDERTOPDOUBLEGREY24, .BTDOG24,
.BORDERTOPDOUBLEGREY34, .BTDOG34,
.BORDERTOPDOTTEDRED4, .BTDTR4,
.BORDERTOPDOTTEDGREEN4, .BTDTG4,
.BORDERTOPDOTTEDBLUE4, .BTDTB4,
.BORDERTOPDOTTEDYELLOW4, .BTDTY4,
.BORDERTOPDOTTEDBLACK4, .BTDT04,
.BORDERTOPDOTTEDWHITE4, .BTDTW4,
.BORDERTOPDOTTEDGREY14, .BTDTG14,
.BORDERTOPDOTTEDGREY24, .BTDTG24,
.BORDERTOPDOTTEDGREY34, .BTDTG34,
.BORDERTOPSOLIDRED4, .BTSOR4,
.BORDERTOPSOLIDGREEN4, .BTSOG4,
.BORDERTOPSOLIDBLUE4, .BTSOB4,
.BORDERTOPSOLIDYELLOW4, .BTSOY4,
.BORDERTOPSOLIDBLACK4, .BTSO04,
.BORDERTOPSOLIDWHITE4, .BTSOW4,
.BORDERTOPSOLIDGREY14, .BTSOG14,
.BORDERTOPSOLIDGREY24, .BTSOG24,
.BORDERTOPSOLIDGREY34, .BTSOG34,
.BORDERALLDASHEDRED4, .BADAR4,
.BORDERALLDASHEDGREEN4, .BADAG4,
.BORDERALLDASHEDBLUE4, .BADAB4,
.BORDERALLDASHEDYELLOW4, .BADAY4,
.BORDERALLDASHEDBLACK4, .BADA04,
.BORDERALLDASHEDWHITE4, .BADAW4,
.BORDERALLDASHEDGREY14, .BADAG14,
.BORDERALLDASHEDGREY24, .BADAG24,
.BORDERALLDASHEDGREY34, .BADAG34,
.BORDERALLDOUBLERED4, .BADOR4,
.BORDERALLDOUBLEGREEN4, .BADOG4,
.BORDERALLDOUBLEBLUE4, .BADOB4,
.BORDERALLDOUBLEYELLOW4, .BADOY4,
.BORDERALLDOUBLEBLACK4, .BADO04,
.BORDERALLDOUBLEWHITE4, .BADOW4,
.BORDERALLDOUBLEGREY14, .BADOG14,
.BORDERALLDOUBLEGREY24, .BADOG24,
.BORDERALLDOUBLEGREY34, .BADOG34,
.BORDERALLDOTTEDRED4, .BADTR4,
.BORDERALLDOTTEDGREEN4, .BADTG4,
.BORDERALLDOTTEDBLUE4, .BADTB4,
.BORDERALLDOTTEDYELLOW4, .BADTY4,
.BORDERALLDOTTEDBLACK4, .BADT04,
.BORDERALLDOTTEDWHITE4, .BADTW4,
.BORDERALLDOTTEDGREY14, .BADTG14,
.BORDERALLDOTTEDGREY24, .BADTG24,
.BORDERALLDOTTEDGREY34, .BADTG34,
.BORDERALLSOLIDRED4, .BASOR4,
.BORDERALLSOLIDGREEN4, .BASOG4,
.BORDERALLSOLIDBLUE4, .BASOB4,
.BORDERALLSOLIDYELLOW4, .BASOY4,
.BORDERALLSOLIDBLACK4, .BASO04,
.BORDERALLSOLIDWHITE4, .BASOW4,
.BORDERALLSOLIDGREY14, .BASOG14,
.BORDERALLSOLIDGREY24, .BASOG24,
.BORDERALLSOLIDGREY34, .BASOG34
{
    border-top-width: 4px;
}
.BORDERTOPDASHEDRED5, .BTDAR5,
.BORDERTOPDASHEDGREEN5, .BTDAG5,
.BORDERTOPDASHEDBLUE5, .BTDAB5,
.BORDERTOPDASHEDYELLOW5, .BTDAY5,
.BORDERTOPDASHEDBLACK5, .BTDA05,
.BORDERTOPDASHEDWHITE5, .BTDAW5,
.BORDERTOPDASHEDGREY15, .BTDAG15,
.BORDERTOPDASHEDGREY25, .BTDAG25,
.BORDERTOPDASHEDGREY35, .BTDAG35,
.BORDERTOPDOUBLERED5, .BTDOR5,
.BORDERTOPDOUBLEGREEN5, .BTDOG5,
.BORDERTOPDOUBLEBLUE5, .BTDOB5,
.BORDERTOPDOUBLEYELLOW5, .BTDOY5,
.BORDERTOPDOUBLEBLACK5, .BTDO05,
.BORDERTOPDOUBLEWHITE5, .BTDOW5,
.BORDERTOPDOUBLEGREY15, .BTDOG15,
.BORDERTOPDOUBLEGREY25, .BTDOG25,
.BORDERTOPDOUBLEGREY35, .BTDOG35,
.BORDERTOPDOTTEDRED5, .BTDTR5,
.BORDERTOPDOTTEDGREEN5, .BTDTG5,
.BORDERTOPDOTTEDBLUE5, .BTDTB5,
.BORDERTOPDOTTEDYELLOW5, .BTDTY5,
.BORDERTOPDOTTEDBLACK5, .BTDT05,
.BORDERTOPDOTTEDWHITE5, .BTDTW5,
.BORDERTOPDOTTEDGREY15, .BTDTG15,
.BORDERTOPDOTTEDGREY25, .BTDTG25,
.BORDERTOPDOTTEDGREY35, .BTDTG35,
.BORDERTOPSOLIDRED5, .BTSOR5,
.BORDERTOPSOLIDGREEN5, .BTSOG5,
.BORDERTOPSOLIDBLUE5, .BTSOB5,
.BORDERTOPSOLIDYELLOW5, .BTSOY5,
.BORDERTOPSOLIDBLACK5, .BTSO05,
.BORDERTOPSOLIDWHITE5, .BTSOW5,
.BORDERTOPSOLIDGREY15, .BTSOG15,
.BORDERTOPSOLIDGREY25, .BTSOG25,
.BORDERTOPSOLIDGREY35, .BTSOG35,
.BORDERALLDASHEDRED5, .BADAR5,
.BORDERALLDASHEDGREEN5, .BADAG5,
.BORDERALLDASHEDBLUE5, .BADAB5,
.BORDERALLDASHEDYELLOW5, .BADAY5,
.BORDERALLDASHEDBLACK5, .BADA05,
.BORDERALLDASHEDWHITE5, .BADAW5,
.BORDERALLDASHEDGREY15, .BADAG15,
.BORDERALLDASHEDGREY25, .BADAG25,
.BORDERALLDASHEDGREY35, .BADAG35,
.BORDERALLDOUBLERED5, .BADOR5,
.BORDERALLDOUBLEGREEN5, .BADOG5,
.BORDERALLDOUBLEBLUE5, .BADOB5,
.BORDERALLDOUBLEYELLOW5, .BADOY5,
.BORDERALLDOUBLEBLACK5, .BADO05,
.BORDERALLDOUBLEWHITE5, .BADOW5,
.BORDERALLDOUBLEGREY15, .BADOG15,
.BORDERALLDOUBLEGREY25, .BADOG25,
.BORDERALLDOUBLEGREY35, .BADOG35,
.BORDERALLDOTTEDRED5, .BADTR5,
.BORDERALLDOTTEDGREEN5, .BADTG5,
.BORDERALLDOTTEDBLUE5, .BADTB5,
.BORDERALLDOTTEDYELLOW5, .BADTY5,
.BORDERALLDOTTEDBLACK5, .BADT05,
.BORDERALLDOTTEDWHITE5, .BADTW5,
.BORDERALLDOTTEDGREY15, .BADTG15,
.BORDERALLDOTTEDGREY25, .BADTG25,
.BORDERALLDOTTEDGREY35, .BADTG35,
.BORDERALLSOLIDRED5, .BASOR5,
.BORDERALLSOLIDGREEN5, .BASOG5,
.BORDERALLSOLIDBLUE5, .BASOB5,
.BORDERALLSOLIDYELLOW5, .BASOY5,
.BORDERALLSOLIDBLACK5, .BASO05,
.BORDERALLSOLIDWHITE5, .BASOW5,
.BORDERALLSOLIDGREY15, .BASOG15,
.BORDERALLSOLIDGREY25, .BASOG25,
.BORDERALLSOLIDGREY35, .BASOG35
{
    border-top-width: 5px;
}

.BORDERTOPDASHEDRED1, .BTDAR1,
.BORDERTOPDASHEDRED2, .BTDAR2,
.BORDERTOPDASHEDRED3, .BTDAR3,
.BORDERTOPDASHEDRED4, .BTDAR4,
.BORDERTOPDASHEDRED5, .BTDAR5,
.BORDERTOPDASHEDGREEN1, .BTDAG1,
.BORDERTOPDASHEDGREEN2, .BTDAG2,
.BORDERTOPDASHEDGREEN3, .BTDAG3,
.BORDERTOPDASHEDGREEN4, .BTDAG4,
.BORDERTOPDASHEDGREEN5, .BTDAG5,
.BORDERTOPDASHEDBLUE1, .BTDAB1,
.BORDERTOPDASHEDBLUE2, .BTDAB2,
.BORDERTOPDASHEDBLUE3, .BTDAB3,
.BORDERTOPDASHEDBLUE4, .BTDAB4,
.BORDERTOPDASHEDBLUE5, .BTDAB5,
.BORDERTOPDASHEDYELLOW1, .BTDAY1,
.BORDERTOPDASHEDYELLOW2, .BTDAY2,
.BORDERTOPDASHEDYELLOW3, .BTDAY3,
.BORDERTOPDASHEDYELLOW4, .BTDAY4,
.BORDERTOPDASHEDYELLOW5, .BTDAY5,
.BORDERTOPDASHEDBLACK1, .BTDA01,
.BORDERTOPDASHEDBLACK2, .BTDA02,
.BORDERTOPDASHEDBLACK3, .BTDA03,
.BORDERTOPDASHEDBLACK4, .BTDA04,
.BORDERTOPDASHEDBLACK5, .BTDA01,
.BORDERTOPDASHEDWHITE1, .BTDAW2,
.BORDERTOPDASHEDWHITE2, .BTDAW3,
.BORDERTOPDASHEDWHITE3, .BTDAW4,
.BORDERTOPDASHEDWHITE4, .BTDAW5,
.BORDERTOPDASHEDWHITE5, .BTDAW5,
.BORDERTOPDASHEDGREY11, .BTDAG11,
.BORDERTOPDASHEDGREY12, .BTDAG12,
.BORDERTOPDASHEDGREY13, .BTDAG13,
.BORDERTOPDASHEDGREY14, .BTDAG14,
.BORDERTOPDASHEDGREY15, .BTDAG15,
.BORDERTOPDASHEDGREY21, .BTDAG21,
.BORDERTOPDASHEDGREY22, .BTDAG22,
.BORDERTOPDASHEDGREY23, .BTDAG23,
.BORDERTOPDASHEDGREY24, .BTDAG24,
.BORDERTOPDASHEDGREY25, .BTDAG25,
.BORDERTOPDASHEDGREY31, .BTDAG31,
.BORDERTOPDASHEDGREY32, .BTDAG32,
.BORDERTOPDASHEDGREY33, .BTDAG33,
.BORDERTOPDASHEDGREY34, .BTDAG34,
.BORDERTOPDASHEDGREY35, .BTDAG35,
.BORDERALLDASHEDRED1, .BADAR1,
.BORDERALLDASHEDRED2, .BADAR2,
.BORDERALLDASHEDRED3, .BADAR3,
.BORDERALLDASHEDRED4, .BADAR4,
.BORDERALLDASHEDRED5, .BADAR5,
.BORDERALLDASHEDGREEN1, .BADAG1,
.BORDERALLDASHEDGREEN2, .BADAG2,
.BORDERALLDASHEDGREEN3, .BADAG3,
.BORDERALLDASHEDGREEN4, .BADAG4,
.BORDERALLDASHEDGREEN5, .BADAG5,
.BORDERALLDASHEDBLUE1, .BADAB1,
.BORDERALLDASHEDBLUE2, .BADAB2,
.BORDERALLDASHEDBLUE3, .BADAB3,
.BORDERALLDASHEDBLUE4, .BADAB4,
.BORDERALLDASHEDBLUE5, .BADAB5,
.BORDERALLDASHEDYELLOW1, .BADAY1,
.BORDERALLDASHEDYELLOW2, .BADAY2,
.BORDERALLDASHEDYELLOW3, .BADAY3,
.BORDERALLDASHEDYELLOW4, .BADAY4,
.BORDERALLDASHEDYELLOW5, .BADAY5,
.BORDERALLDASHEDBLACK1, .BADA01,
.BORDERALLDASHEDBLACK2, .BADA02,
.BORDERALLDASHEDBLACK3, .BADA03,
.BORDERALLDASHEDBLACK4, .BADA04,
.BORDERALLDASHEDBLACK5, .BADA01,
.BORDERALLDASHEDWHITE1, .BADAW2,
.BORDERALLDASHEDWHITE2, .BADAW3,
.BORDERALLDASHEDWHITE3, .BADAW4,
.BORDERALLDASHEDWHITE4, .BADAW5,
.BORDERALLDASHEDWHITE5, .BADAW5,
.BORDERALLDASHEDGREY11, .BADAG11,
.BORDERALLDASHEDGREY12, .BADAG12,
.BORDERALLDASHEDGREY13, .BADAG13,
.BORDERALLDASHEDGREY14, .BADAG14,
.BORDERALLDASHEDGREY15, .BADAG15,
.BORDERALLDASHEDGREY21, .BADAG21,
.BORDERALLDASHEDGREY22, .BADAG22,
.BORDERALLDASHEDGREY23, .BADAG23,
.BORDERALLDASHEDGREY24, .BADAG24,
.BORDERALLDASHEDGREY25, .BADAG25,
.BORDERALLDASHEDGREY31, .BADAG31,
.BORDERALLDASHEDGREY32, .BADAG32,
.BORDERALLDASHEDGREY33, .BADAG33,
.BORDERALLDASHEDGREY34, .BADAG34,
.BORDERALLDASHEDGREY35, .BADAG35
{
    border-top-style: dashed;
}
.BORDERTOPDOUBLERED1, .BTDOR1,
.BORDERTOPDOUBLERED2, .BTDOR2,
.BORDERTOPDOUBLERED3, .BTDOR3,
.BORDERTOPDOUBLERED4, .BTDOR4,
.BORDERTOPDOUBLERED5, .BTDOR5,
.BORDERTOPDOUBLEGREEN1, .BTDOG1,
.BORDERTOPDOUBLEGREEN2, .BTDOG2,
.BORDERTOPDOUBLEGREEN3, .BTDOG3,
.BORDERTOPDOUBLEGREEN4, .BTDOG4,
.BORDERTOPDOUBLEGREEN5, .BTDOG5,
.BORDERTOPDOUBLEBLUE1, .BTDOB1,
.BORDERTOPDOUBLEBLUE2, .BTDOB2,
.BORDERTOPDOUBLEBLUE3, .BTDOB3,
.BORDERTOPDOUBLEBLUE4, .BTDOB4,
.BORDERTOPDOUBLEBLUE5, .BTDOB5,
.BORDERTOPDOUBLEYELLOW1, .BTDOY1,
.BORDERTOPDOUBLEYELLOW2, .BTDOY2,
.BORDERTOPDOUBLEYELLOW3, .BTDOY3,
.BORDERTOPDOUBLEYELLOW4, .BTDOY4,
.BORDERTOPDOUBLEYELLOW5, .BTDOY5,
.BORDERTOPDOUBLEBLACK1, .BTDO01,
.BORDERTOPDOUBLEBLACK2, .BTDO02,
.BORDERTOPDOUBLEBLACK3, .BTDO03,
.BORDERTOPDOUBLEBLACK4, .BTDO04,
.BORDERTOPDOUBLEBLACK5, .BTDO01,
.BORDERTOPDOUBLEWHITE1, .BTDOW2,
.BORDERTOPDOUBLEWHITE2, .BTDOW3,
.BORDERTOPDOUBLEWHITE3, .BTDOW4,
.BORDERTOPDOUBLEWHITE4, .BTDOW5,
.BORDERTOPDOUBLEWHITE5, .BTDOW5,
.BORDERTOPDOUBLEGREY11, .BTDOG11,
.BORDERTOPDOUBLEGREY12, .BTDOG12,
.BORDERTOPDOUBLEGREY13, .BTDOG13,
.BORDERTOPDOUBLEGREY14, .BTDOG14,
.BORDERTOPDOUBLEGREY15, .BTDOG15,
.BORDERTOPDOUBLEGREY21, .BTDOG21,
.BORDERTOPDOUBLEGREY22, .BTDOG22,
.BORDERTOPDOUBLEGREY23, .BTDOG23,
.BORDERTOPDOUBLEGREY24, .BTDOG24,
.BORDERTOPDOUBLEGREY25, .BTDOG25,
.BORDERTOPDOUBLEGREY31, .BTDOG31,
.BORDERTOPDOUBLEGREY32, .BTDOG32,
.BORDERTOPDOUBLEGREY33, .BTDOG33,
.BORDERTOPDOUBLEGREY34, .BTDOG34,
.BORDERTOPDOUBLEGREY35, .BTDOG35,
.BORDERALLDOUBLERED1, .BADOR1,
.BORDERALLDOUBLERED2, .BADOR2,
.BORDERALLDOUBLERED3, .BADOR3,
.BORDERALLDOUBLERED4, .BADOR4,
.BORDERALLDOUBLERED5, .BADOR5,
.BORDERALLDOUBLEGREEN1, .BADOG1,
.BORDERALLDOUBLEGREEN2, .BADOG2,
.BORDERALLDOUBLEGREEN3, .BADOG3,
.BORDERALLDOUBLEGREEN4, .BADOG4,
.BORDERALLDOUBLEGREEN5, .BADOG5,
.BORDERALLDOUBLEBLUE1, .BADOB1,
.BORDERALLDOUBLEBLUE2, .BADOB2,
.BORDERALLDOUBLEBLUE3, .BADOB3,
.BORDERALLDOUBLEBLUE4, .BADOB4,
.BORDERALLDOUBLEBLUE5, .BADOB5,
.BORDERALLDOUBLEYELLOW1, .BADOY1,
.BORDERALLDOUBLEYELLOW2, .BADOY2,
.BORDERALLDOUBLEYELLOW3, .BADOY3,
.BORDERALLDOUBLEYELLOW4, .BADOY4,
.BORDERALLDOUBLEYELLOW5, .BADOY5,
.BORDERALLDOUBLEBLACK1, .BADO01,
.BORDERALLDOUBLEBLACK2, .BADO02,
.BORDERALLDOUBLEBLACK3, .BADO03,
.BORDERALLDOUBLEBLACK4, .BADO04,
.BORDERALLDOUBLEBLACK5, .BADO01,
.BORDERALLDOUBLEWHITE1, .BADOW2,
.BORDERALLDOUBLEWHITE2, .BADOW3,
.BORDERALLDOUBLEWHITE3, .BADOW4,
.BORDERALLDOUBLEWHITE4, .BADOW5,
.BORDERALLDOUBLEWHITE5, .BADOW5,
.BORDERALLDOUBLEGREY11, .BADOG11,
.BORDERALLDOUBLEGREY12, .BADOG12,
.BORDERALLDOUBLEGREY13, .BADOG13,
.BORDERALLDOUBLEGREY14, .BADOG14,
.BORDERALLDOUBLEGREY15, .BADOG15,
.BORDERALLDOUBLEGREY21, .BADOG21,
.BORDERALLDOUBLEGREY22, .BADOG22,
.BORDERALLDOUBLEGREY23, .BADOG23,
.BORDERALLDOUBLEGREY24, .BADOG24,
.BORDERALLDOUBLEGREY25, .BADOG25,
.BORDERALLDOUBLEGREY31, .BADOG31,
.BORDERALLDOUBLEGREY32, .BADOG32,
.BORDERALLDOUBLEGREY33, .BADOG33,
.BORDERALLDOUBLEGREY34, .BADOG34,
.BORDERALLDOUBLEGREY35, .BADOG35
{
    border-top-style: double;
}
.BORDERTOPDOTTEDRED1, .BTDTR1,
.BORDERTOPDOTTEDRED2, .BTDTR2,
.BORDERTOPDOTTEDRED3, .BTDTR3,
.BORDERTOPDOTTEDRED4, .BTDTR4,
.BORDERTOPDOTTEDRED5, .BTDTR5,
.BORDERTOPDOTTEDGREEN1, .BTDTG1,
.BORDERTOPDOTTEDGREEN2, .BTDTG2,
.BORDERTOPDOTTEDGREEN3, .BTDTG3,
.BORDERTOPDOTTEDGREEN4, .BTDTG4,
.BORDERTOPDOTTEDGREEN5, .BTDTG5,
.BORDERTOPDOTTEDBLUE1, .BTDTB1,
.BORDERTOPDOTTEDBLUE2, .BTDTB2,
.BORDERTOPDOTTEDBLUE3, .BTDTB3,
.BORDERTOPDOTTEDBLUE4, .BTDTB4,
.BORDERTOPDOTTEDBLUE5, .BTDTB5,
.BORDERTOPDOTTEDYELLOW1, .BTDTY1,
.BORDERTOPDOTTEDYELLOW2, .BTDTY2,
.BORDERTOPDOTTEDYELLOW3, .BTDTY3,
.BORDERTOPDOTTEDYELLOW4, .BTDTY4,
.BORDERTOPDOTTEDYELLOW5, .BTDTY5,
.BORDERTOPDOTTEDBLACK1, .BTDT01,
.BORDERTOPDOTTEDBLACK2, .BTDT02,
.BORDERTOPDOTTEDBLACK3, .BTDT03,
.BORDERTOPDOTTEDBLACK4, .BTDT04,
.BORDERTOPDOTTEDBLACK5, .BTDT01,
.BORDERTOPDOTTEDWHITE1, .BTDTW2,
.BORDERTOPDOTTEDWHITE2, .BTDTW3,
.BORDERTOPDOTTEDWHITE3, .BTDTW4,
.BORDERTOPDOTTEDWHITE4, .BTDTW5,
.BORDERTOPDOTTEDWHITE5, .BTDTW5,
.BORDERTOPDOTTEDGREY11, .BTDTG11,
.BORDERTOPDOTTEDGREY12, .BTDTG12,
.BORDERTOPDOTTEDGREY13, .BTDTG13,
.BORDERTOPDOTTEDGREY14, .BTDTG14,
.BORDERTOPDOTTEDGREY15, .BTDTG15,
.BORDERTOPDOTTEDGREY21, .BTDTG21,
.BORDERTOPDOTTEDGREY22, .BTDTG22,
.BORDERTOPDOTTEDGREY23, .BTDTG23,
.BORDERTOPDOTTEDGREY24, .BTDTG24,
.BORDERTOPDOTTEDGREY25, .BTDTG25,
.BORDERTOPDOTTEDGREY31, .BTDTG31,
.BORDERTOPDOTTEDGREY32, .BTDTG32,
.BORDERTOPDOTTEDGREY33, .BTDTG33,
.BORDERTOPDOTTEDGREY34, .BTDTG34,
.BORDERTOPDOTTEDGREY35, .BTDTG35,
.BORDERALLDOTTEDRED1, .BADTR1,
.BORDERALLDOTTEDRED2, .BADTR2,
.BORDERALLDOTTEDRED3, .BADTR3,
.BORDERALLDOTTEDRED4, .BADTR4,
.BORDERALLDOTTEDRED5, .BADTR5,
.BORDERALLDOTTEDGREEN1, .BADTG1,
.BORDERALLDOTTEDGREEN2, .BADTG2,
.BORDERALLDOTTEDGREEN3, .BADTG3,
.BORDERALLDOTTEDGREEN4, .BADTG4,
.BORDERALLDOTTEDGREEN5, .BADTG5,
.BORDERALLDOTTEDBLUE1, .BADTB1,
.BORDERALLDOTTEDBLUE2, .BADTB2,
.BORDERALLDOTTEDBLUE3, .BADTB3,
.BORDERALLDOTTEDBLUE4, .BADTB4,
.BORDERALLDOTTEDBLUE5, .BADTB5,
.BORDERALLDOTTEDYELLOW1, .BADTY1,
.BORDERALLDOTTEDYELLOW2, .BADTY2,
.BORDERALLDOTTEDYELLOW3, .BADTY3,
.BORDERALLDOTTEDYELLOW4, .BADTY4,
.BORDERALLDOTTEDYELLOW5, .BADTY5,
.BORDERALLDOTTEDBLACK1, .BADT01,
.BORDERALLDOTTEDBLACK2, .BADT02,
.BORDERALLDOTTEDBLACK3, .BADT03,
.BORDERALLDOTTEDBLACK4, .BADT04,
.BORDERALLDOTTEDBLACK5, .BADT01,
.BORDERALLDOTTEDWHITE1, .BADTW2,
.BORDERALLDOTTEDWHITE2, .BADTW3,
.BORDERALLDOTTEDWHITE3, .BADTW4,
.BORDERALLDOTTEDWHITE4, .BADTW5,
.BORDERALLDOTTEDWHITE5, .BADTW5,
.BORDERALLDOTTEDGREY11, .BADTG11,
.BORDERALLDOTTEDGREY12, .BADTG12,
.BORDERALLDOTTEDGREY13, .BADTG13,
.BORDERALLDOTTEDGREY14, .BADTG14,
.BORDERALLDOTTEDGREY15, .BADTG15,
.BORDERALLDOTTEDGREY21, .BADTG21,
.BORDERALLDOTTEDGREY22, .BADTG22,
.BORDERALLDOTTEDGREY23, .BADTG23,
.BORDERALLDOTTEDGREY24, .BADTG24,
.BORDERALLDOTTEDGREY25, .BADTG25,
.BORDERALLDOTTEDGREY31, .BADTG31,
.BORDERALLDOTTEDGREY32, .BADTG32,
.BORDERALLDOTTEDGREY33, .BADTG33,
.BORDERALLDOTTEDGREY34, .BADTG34,
.BORDERALLDOTTEDGREY35, .BADTG35
{
    border-top-style: dotted;
}
.BORDERTOPSOLIDRED1, .BTSOR1,
.BORDERTOPSOLIDRED2, .BTSOR2,
.BORDERTOPSOLIDRED3, .BTSOR3,
.BORDERTOPSOLIDRED4, .BTSOR4,
.BORDERTOPSOLIDRED5, .BTSOR5,
.BORDERTOPSOLIDGREEN1, .BTSOG1,
.BORDERTOPSOLIDGREEN2, .BTSOG2,
.BORDERTOPSOLIDGREEN3, .BTSOG3,
.BORDERTOPSOLIDGREEN4, .BTSOG4,
.BORDERTOPSOLIDGREEN5, .BTSOG5,
.BORDERTOPSOLIDBLUE1, .BTSOB1,
.BORDERTOPSOLIDBLUE2, .BTSOB2,
.BORDERTOPSOLIDBLUE3, .BTSOB3,
.BORDERTOPSOLIDBLUE4, .BTSOB4,
.BORDERTOPSOLIDBLUE5, .BTSOB5,
.BORDERTOPSOLIDYELLOW1, .BTSOY1,
.BORDERTOPSOLIDYELLOW2, .BTSOY2,
.BORDERTOPSOLIDYELLOW3, .BTSOY3,
.BORDERTOPSOLIDYELLOW4, .BTSOY4,
.BORDERTOPSOLIDYELLOW5, .BTSOY5,
.BORDERTOPSOLIDBLACK1, .BTSO01,
.BORDERTOPSOLIDBLACK2, .BTSO02,
.BORDERTOPSOLIDBLACK3, .BTSO03,
.BORDERTOPSOLIDBLACK4, .BTSO04,
.BORDERTOPSOLIDBLACK5, .BTSO01,
.BORDERTOPSOLIDWHITE1, .BTSOW2,
.BORDERTOPSOLIDWHITE2, .BTSOW3,
.BORDERTOPSOLIDWHITE3, .BTSOW4,
.BORDERTOPSOLIDWHITE4, .BTSOW5,
.BORDERTOPSOLIDWHITE5, .BTSOW5,
.BORDERTOPSOLIDGREY11, .BTSOG11,
.BORDERTOPSOLIDGREY12, .BTSOG12,
.BORDERTOPSOLIDGREY13, .BTSOG13,
.BORDERTOPSOLIDGREY14, .BTSOG14,
.BORDERTOPSOLIDGREY15, .BTSOG15,
.BORDERTOPSOLIDGREY21, .BTSOG21,
.BORDERTOPSOLIDGREY22, .BTSOG22,
.BORDERTOPSOLIDGREY23, .BTSOG23,
.BORDERTOPSOLIDGREY24, .BTSOG24,
.BORDERTOPSOLIDGREY25, .BTSOG25,
.BORDERTOPSOLIDGREY31, .BTSOG31,
.BORDERTOPSOLIDGREY32, .BTSOG32,
.BORDERTOPSOLIDGREY33, .BTSOG33,
.BORDERTOPSOLIDGREY34, .BTSOG34,
.BORDERTOPSOLIDGREY35, .BTSOG35,
.BORDERALLSOLIDRED1, .BASOR1,
.BORDERALLSOLIDRED2, .BASOR2,
.BORDERALLSOLIDRED3, .BASOR3,
.BORDERALLSOLIDRED4, .BASOR4,
.BORDERALLSOLIDRED5, .BASOR5,
.BORDERALLSOLIDGREEN1, .BASOG1,
.BORDERALLSOLIDGREEN2, .BASOG2,
.BORDERALLSOLIDGREEN3, .BASOG3,
.BORDERALLSOLIDGREEN4, .BASOG4,
.BORDERALLSOLIDGREEN5, .BASOG5,
.BORDERALLSOLIDBLUE1, .BASOB1,
.BORDERALLSOLIDBLUE2, .BASOB2,
.BORDERALLSOLIDBLUE3, .BASOB3,
.BORDERALLSOLIDBLUE4, .BASOB4,
.BORDERALLSOLIDBLUE5, .BASOB5,
.BORDERALLSOLIDYELLOW1, .BASOY1,
.BORDERALLSOLIDYELLOW2, .BASOY2,
.BORDERALLSOLIDYELLOW3, .BASOY3,
.BORDERALLSOLIDYELLOW4, .BASOY4,
.BORDERALLSOLIDYELLOW5, .BASOY5,
.BORDERALLSOLIDBLACK1, .BASO01,
.BORDERALLSOLIDBLACK2, .BASO02,
.BORDERALLSOLIDBLACK3, .BASO03,
.BORDERALLSOLIDBLACK4, .BASO04,
.BORDERALLSOLIDBLACK5, .BASO01,
.BORDERALLSOLIDWHITE1, .BASOW2,
.BORDERALLSOLIDWHITE2, .BASOW3,
.BORDERALLSOLIDWHITE3, .BASOW4,
.BORDERALLSOLIDWHITE4, .BASOW5,
.BORDERALLSOLIDWHITE5, .BASOW5,
.BORDERALLSOLIDGREY11, .BASOG11,
.BORDERALLSOLIDGREY12, .BASOG12,
.BORDERALLSOLIDGREY13, .BASOG13,
.BORDERALLSOLIDGREY14, .BASOG14,
.BORDERALLSOLIDGREY15, .BASOG15,
.BORDERALLSOLIDGREY21, .BASOG21,
.BORDERALLSOLIDGREY22, .BASOG22,
.BORDERALLSOLIDGREY23, .BASOG23,
.BORDERALLSOLIDGREY24, .BASOG24,
.BORDERALLSOLIDGREY25, .BASOG25,
.BORDERALLSOLIDGREY31, .BASOG31,
.BORDERALLSOLIDGREY32, .BASOG32,
.BORDERALLSOLIDGREY33, .BASOG33,
.BORDERALLSOLIDGREY34, .BASOG34,
.BORDERALLSOLIDGREY35, .BASOG35
{
    border-top-style: solid;
}

.BORDERTOPDASHEDRED1, .BTDAR1,
.BORDERTOPDASHEDRED2, .BTDAR2,
.BORDERTOPDASHEDRED3, .BTDAR3,
.BORDERTOPDASHEDRED4, .BTDAR4,
.BORDERTOPDASHEDRED5, .BTDAR5,
.BORDERTOPDOUBLERED1, .BTDOR1,
.BORDERTOPDOUBLERED2, .BTDOR2,
.BORDERTOPDOUBLERED3, .BTDOR3,
.BORDERTOPDOUBLERED4, .BTDOR4,
.BORDERTOPDOUBLERED5, .BTDOR5,
.BORDERTOPDOTTEDRED1, .BTDTR1,
.BORDERTOPDOTTEDRED2, .BTDTR2,
.BORDERTOPDOTTEDRED3, .BTDTR3,
.BORDERTOPDOTTEDRED4, .BTDTR4,
.BORDERTOPDOTTEDRED5, .BTDTR5,
.BORDERTOPSOLIDRED1, .BTSOR1,
.BORDERTOPSOLIDRED2, .BTSOR2,
.BORDERTOPSOLIDRED3, .BTSOR3,
.BORDERTOPSOLIDRED4, .BTSOR4,
.BORDERTOPSOLIDRED5, .BTSOR5,
.BORDERALLDASHEDRED1, .BADAR1,
.BORDERALLDASHEDRED2, .BADAR2,
.BORDERALLDASHEDRED3, .BADAR3,
.BORDERALLDASHEDRED4, .BADAR4,
.BORDERALLDASHEDRED5, .BADAR5,
.BORDERALLDOUBLERED1, .BADOR1,
.BORDERALLDOUBLERED2, .BADOR2,
.BORDERALLDOUBLERED3, .BADOR3,
.BORDERALLDOUBLERED4, .BADOR4,
.BORDERALLDOUBLERED5, .BADOR5,
.BORDERALLDOTTEDRED1, .BADTR1,
.BORDERALLDOTTEDRED2, .BADTR2,
.BORDERALLDOTTEDRED3, .BADTR3,
.BORDERALLDOTTEDRED4, .BADTR4,
.BORDERALLDOTTEDRED5, .BADTR5,
.BORDERALLSOLIDRED1, .BASOR1,
.BORDERALLSOLIDRED2, .BASOR2,
.BORDERALLSOLIDRED3, .BASOR3,
.BORDERALLSOLIDRED4, .BASOR4,
.BORDERALLSOLIDRED5, .BASOR5,
{
    border-top-color: #FF0000;
}
.BORDERTOPDASHEDGREEN1, .BTDAG1,
.BORDERTOPDASHEDGREEN2, .BTDAG2,
.BORDERTOPDASHEDGREEN3, .BTDAG3,
.BORDERTOPDASHEDGREEN4, .BTDAG4,
.BORDERTOPDASHEDGREEN5, .BTDAG5,
.BORDERTOPDOUBLEGREEN1, .BTDOG1,
.BORDERTOPDOUBLEGREEN2, .BTDOG2,
.BORDERTOPDOUBLEGREEN3, .BTDOG3,
.BORDERTOPDOUBLEGREEN4, .BTDOG4,
.BORDERTOPDOUBLEGREEN5, .BTDOG5,
.BORDERTOPDOTTEDGREEN1, .BTDTG1,
.BORDERTOPDOTTEDGREEN2, .BTDTG2,
.BORDERTOPDOTTEDGREEN3, .BTDTG3,
.BORDERTOPDOTTEDGREEN4, .BTDTG4,
.BORDERTOPDOTTEDGREEN5, .BTDTG5,
.BORDERTOPSOLIDGREEN1, .BTSOG1,
.BORDERTOPSOLIDGREEN2, .BTSOG2,
.BORDERTOPSOLIDGREEN3, .BTSOG3,
.BORDERTOPSOLIDGREEN4, .BTSOG4,
.BORDERTOPSOLIDGREEN5, .BTSOG5,
.BORDERALLDASHEDGREEN1, .BADAG1,
.BORDERALLDASHEDGREEN2, .BADAG2,
.BORDERALLDASHEDGREEN3, .BADAG3,
.BORDERALLDASHEDGREEN4, .BADAG4,
.BORDERALLDASHEDGREEN5, .BADAG5,
.BORDERALLDOUBLEGREEN1, .BADOG1,
.BORDERALLDOUBLEGREEN2, .BADOG2,
.BORDERALLDOUBLEGREEN3, .BADOG3,
.BORDERALLDOUBLEGREEN4, .BADOG4,
.BORDERALLDOUBLEGREEN5, .BADOG5,
.BORDERALLDOTTEDGREEN1, .BADTG1,
.BORDERALLDOTTEDGREEN2, .BADTG2,
.BORDERALLDOTTEDGREEN3, .BADTG3,
.BORDERALLDOTTEDGREEN4, .BADTG4,
.BORDERALLDOTTEDGREEN5, .BADTG5,
.BORDERALLSOLIDGREEN1, .BASOG1,
.BORDERALLSOLIDGREEN2, .BASOG2,
.BORDERALLSOLIDGREEN3, .BASOG3,
.BORDERALLSOLIDGREEN4, .BASOG4,
.BORDERALLSOLIDGREEN5, .BASOG5,
{
    border-top-color: #00FF00;
}
.BORDERTOPDASHEDBLUE1, .BTDAB1,
.BORDERTOPDASHEDBLUE2, .BTDAB2,
.BORDERTOPDASHEDBLUE3, .BTDAB3,
.BORDERTOPDASHEDBLUE4, .BTDAB4,
.BORDERTOPDASHEDBLUE5, .BTDAB5,
.BORDERTOPDOUBLEBLUE1, .BTDOB1,
.BORDERTOPDOUBLEBLUE2, .BTDOB2,
.BORDERTOPDOUBLEBLUE3, .BTDOB3,
.BORDERTOPDOUBLEBLUE4, .BTDOB4,
.BORDERTOPDOUBLEBLUE5, .BTDOB5,
.BORDERTOPDOTTEDBLUE1, .BTDTB1,
.BORDERTOPDOTTEDBLUE2, .BTDTB2,
.BORDERTOPDOTTEDBLUE3, .BTDTB3,
.BORDERTOPDOTTEDBLUE4, .BTDTB4,
.BORDERTOPDOTTEDBLUE5, .BTDTB5,
.BORDERTOPSOLIDBLUE1, .BTSOB1,
.BORDERTOPSOLIDBLUE2, .BTSOB2,
.BORDERTOPSOLIDBLUE3, .BTSOB3,
.BORDERTOPSOLIDBLUE4, .BTSOB4,
.BORDERTOPSOLIDBLUE5, .BTSOB5,
.BORDERALLDASHEDBLUE1, .BADAB1,
.BORDERALLDASHEDBLUE2, .BADAB2,
.BORDERALLDASHEDBLUE3, .BADAB3,
.BORDERALLDASHEDBLUE4, .BADAB4,
.BORDERALLDASHEDBLUE5, .BADAB5,
.BORDERALLDOUBLEBLUE1, .BADOB1,
.BORDERALLDOUBLEBLUE2, .BADOB2,
.BORDERALLDOUBLEBLUE3, .BADOB3,
.BORDERALLDOUBLEBLUE4, .BADOB4,
.BORDERALLDOUBLEBLUE5, .BADOB5,
.BORDERALLDOTTEDBLUE1, .BADTB1,
.BORDERALLDOTTEDBLUE2, .BADTB2,
.BORDERALLDOTTEDBLUE3, .BADTB3,
.BORDERALLDOTTEDBLUE4, .BADTB4,
.BORDERALLDOTTEDBLUE5, .BADTB5,
.BORDERALLSOLIDBLUE1, .BASOB1,
.BORDERALLSOLIDBLUE2, .BASOB2,
.BORDERALLSOLIDBLUE3, .BASOB3,
.BORDERALLSOLIDBLUE4, .BASOB4,
.BORDERALLSOLIDBLUE5, .BASOB5,
{
    border-top-color: #0000FF;
}
.BORDERTOPDASHEDYELLOW1, .BTDAY1,
.BORDERTOPDASHEDYELLOW2, .BTDAY2,
.BORDERTOPDASHEDYELLOW3, .BTDAY3,
.BORDERTOPDASHEDYELLOW4, .BTDAY4,
.BORDERTOPDASHEDYELLOW5, .BTDAY5,
.BORDERTOPDOUBLEYELLOW1, .BTDOY1,
.BORDERTOPDOUBLEYELLOW2, .BTDOY2,
.BORDERTOPDOUBLEYELLOW3, .BTDOY3,
.BORDERTOPDOUBLEYELLOW4, .BTDOY4,
.BORDERTOPDOUBLEYELLOW5, .BTDOY5,
.BORDERTOPDOTTEDYELLOW1, .BTDTY1,
.BORDERTOPDOTTEDYELLOW2, .BTDTY2,
.BORDERTOPDOTTEDYELLOW3, .BTDTY3,
.BORDERTOPDOTTEDYELLOW4, .BTDTY4,
.BORDERTOPDOTTEDYELLOW5, .BTDTY5,
.BORDERTOPSOLIDYELLOW1, .BTSOY1,
.BORDERTOPSOLIDYELLOW2, .BTSOY2,
.BORDERTOPSOLIDYELLOW3, .BTSOY3,
.BORDERTOPSOLIDYELLOW4, .BTSOY4,
.BORDERTOPSOLIDYELLOW5, .BTSOY5,
.BORDERALLDASHEDYELLOW1, .BADAY1,
.BORDERALLDASHEDYELLOW2, .BADAY2,
.BORDERALLDASHEDYELLOW3, .BADAY3,
.BORDERALLDASHEDYELLOW4, .BADAY4,
.BORDERALLDASHEDYELLOW5, .BADAY5,
.BORDERALLDOUBLEYELLOW1, .BADOY1,
.BORDERALLDOUBLEYELLOW2, .BADOY2,
.BORDERALLDOUBLEYELLOW3, .BADOY3,
.BORDERALLDOUBLEYELLOW4, .BADOY4,
.BORDERALLDOUBLEYELLOW5, .BADOY5,
.BORDERALLDOTTEDYELLOW1, .BADTY1,
.BORDERALLDOTTEDYELLOW2, .BADTY2,
.BORDERALLDOTTEDYELLOW3, .BADTY3,
.BORDERALLDOTTEDYELLOW4, .BADTY4,
.BORDERALLDOTTEDYELLOW5, .BADTY5,
.BORDERALLSOLIDYELLOW1, .BASOY1,
.BORDERALLSOLIDYELLOW2, .BASOY2,
.BORDERALLSOLIDYELLOW3, .BASOY3,
.BORDERALLSOLIDYELLOW4, .BASOY4,
.BORDERALLSOLIDYELLOW5, .BASOY5,
{
    border-top-color: #FFFF00;
}
.BORDERTOPDASHEDBLACK1, .BTDA01,
.BORDERTOPDASHEDBLACK2, .BTDA02,
.BORDERTOPDASHEDBLACK3, .BTDA03,
.BORDERTOPDASHEDBLACK4, .BTDA04,
.BORDERTOPDASHEDBLACK5, .BTDA05,
.BORDERTOPDOUBLEBLACK1, .BTDO01,
.BORDERTOPDOUBLEBLACK2, .BTDO02,
.BORDERTOPDOUBLEBLACK3, .BTDO03,
.BORDERTOPDOUBLEBLACK4, .BTDO04,
.BORDERTOPDOUBLEBLACK5, .BTDO05,
.BORDERTOPDOTTEDBLACK1, .BTDT01,
.BORDERTOPDOTTEDBLACK2, .BTDT02,
.BORDERTOPDOTTEDBLACK3, .BTDT03,
.BORDERTOPDOTTEDBLACK4, .BTDT04,
.BORDERTOPDOTTEDBLACK5, .BTDT05,
.BORDERTOPSOLIDBLACK1, .BTSO01,
.BORDERTOPSOLIDBLACK2, .BTSO02,
.BORDERTOPSOLIDBLACK3, .BTSO03,
.BORDERTOPSOLIDBLACK4, .BTSO04,
.BORDERTOPSOLIDBLACK5, .BTSO05,
.BORDERALLDASHEDBLACK1, .BADA01,
.BORDERALLDASHEDBLACK2, .BADA02,
.BORDERALLDASHEDBLACK3, .BADA03,
.BORDERALLDASHEDBLACK4, .BADA04,
.BORDERALLDASHEDBLACK5, .BADA05,
.BORDERALLDOUBLEBLACK1, .BADO01,
.BORDERALLDOUBLEBLACK2, .BADO02,
.BORDERALLDOUBLEBLACK3, .BADO03,
.BORDERALLDOUBLEBLACK4, .BADO04,
.BORDERALLDOUBLEBLACK5, .BADO05,
.BORDERALLDOTTEDBLACK1, .BADT01,
.BORDERALLDOTTEDBLACK2, .BADT02,
.BORDERALLDOTTEDBLACK3, .BADT03,
.BORDERALLDOTTEDBLACK4, .BADT04,
.BORDERALLDOTTEDBLACK5, .BADT05,
.BORDERALLSOLIDBLACK1, .BASO01,
.BORDERALLSOLIDBLACK2, .BASO02,
.BORDERALLSOLIDBLACK3, .BASO03,
.BORDERALLSOLIDBLACK4, .BASO04,
.BORDERALLSOLIDBLACK5, .BASO05,
{
    border-top-color: #000000;
}
.BORDERTOPDASHEDRED1, .BTDAR1,
.BORDERTOPDASHEDRED2, .BTDAR2,
.BORDERTOPDASHEDRED3, .BTDAR3,
.BORDERTOPDASHEDRED4, .BTDAR4,
.BORDERTOPDASHEDRED5, .BTDAR5,
.BORDERTOPDOUBLERED1, .BTDOR1,
.BORDERTOPDOUBLERED2, .BTDOR2,
.BORDERTOPDOUBLERED3, .BTDOR3,
.BORDERTOPDOUBLERED4, .BTDOR4,
.BORDERTOPDOUBLERED5, .BTDOR5,
.BORDERTOPDOTTEDRED1, .BTDTR1,
.BORDERTOPDOTTEDRED2, .BTDTR2,
.BORDERTOPDOTTEDRED3, .BTDTR3,
.BORDERTOPDOTTEDRED4, .BTDTR4,
.BORDERTOPDOTTEDRED5, .BTDTR5,
.BORDERTOPSOLIDRED1, .BTSOR1,
.BORDERTOPSOLIDRED2, .BTSOR2,
.BORDERTOPSOLIDRED3, .BTSOR3,
.BORDERTOPSOLIDRED4, .BTSOR4,
.BORDERTOPSOLIDRED5, .BTSOR5,
.BORDERALLDASHEDRED1, .BADAR1,
.BORDERALLDASHEDRED2, .BADAR2,
.BORDERALLDASHEDRED3, .BADAR3,
.BORDERALLDASHEDRED4, .BADAR4,
.BORDERALLDASHEDRED5, .BADAR5,
.BORDERALLDOUBLERED1, .BADOR1,
.BORDERALLDOUBLERED2, .BADOR2,
.BORDERALLDOUBLERED3, .BADOR3,
.BORDERALLDOUBLERED4, .BADOR4,
.BORDERALLDOUBLERED5, .BADOR5,
.BORDERALLDOTTEDRED1, .BADTR1,
.BORDERALLDOTTEDRED2, .BADTR2,
.BORDERALLDOTTEDRED3, .BADTR3,
.BORDERALLDOTTEDRED4, .BADTR4,
.BORDERALLDOTTEDRED5, .BADTR5,
.BORDERALLSOLIDRED1, .BASOR1,
.BORDERALLSOLIDRED2, .BASOR2,
.BORDERALLSOLIDRED3, .BASOR3,
.BORDERALLSOLIDRED4, .BASOR4,
.BORDERALLSOLIDRED5, .BASOR5,
{
    border-top-color: #FFFFFF;
}
.BORDERTOPDASHEDRED1, .BTDAR1,
.BORDERTOPDASHEDRED2, .BTDAR2,
.BORDERTOPDASHEDRED3, .BTDAR3,
.BORDERTOPDASHEDRED4, .BTDAR4,
.BORDERTOPDASHEDRED5, .BTDAR5,
.BORDERTOPDOUBLERED1, .BTDOR1,
.BORDERTOPDOUBLERED2, .BTDOR2,
.BORDERTOPDOUBLERED3, .BTDOR3,
.BORDERTOPDOUBLERED4, .BTDOR4,
.BORDERTOPDOUBLERED5, .BTDOR5,
.BORDERTOPDOTTEDRED1, .BTDTR1,
.BORDERTOPDOTTEDRED2, .BTDTR2,
.BORDERTOPDOTTEDRED3, .BTDTR3,
.BORDERTOPDOTTEDRED4, .BTDTR4,
.BORDERTOPDOTTEDRED5, .BTDTR5,
.BORDERTOPSOLIDRED1, .BTSOR1,
.BORDERTOPSOLIDRED2, .BTSOR2,
.BORDERTOPSOLIDRED3, .BTSOR3,
.BORDERTOPSOLIDRED4, .BTSOR4,
.BORDERTOPSOLIDRED5, .BTSOR5,
.BORDERALLDASHEDRED1, .BADAR1,
.BORDERALLDASHEDRED2, .BADAR2,
.BORDERALLDASHEDRED3, .BADAR3,
.BORDERALLDASHEDRED4, .BADAR4,
.BORDERALLDASHEDRED5, .BADAR5,
.BORDERALLDOUBLERED1, .BADOR1,
.BORDERALLDOUBLERED2, .BADOR2,
.BORDERALLDOUBLERED3, .BADOR3,
.BORDERALLDOUBLERED4, .BADOR4,
.BORDERALLDOUBLERED5, .BADOR5,
.BORDERALLDOTTEDRED1, .BADTR1,
.BORDERALLDOTTEDRED2, .BADTR2,
.BORDERALLDOTTEDRED3, .BADTR3,
.BORDERALLDOTTEDRED4, .BADTR4,
.BORDERALLDOTTEDRED5, .BADTR5,
.BORDERALLSOLIDRED1, .BASOR1,
.BORDERALLSOLIDRED2, .BASOR2,
.BORDERALLSOLIDRED3, .BASOR3,
.BORDERALLSOLIDRED4, .BASOR4,
.BORDERALLSOLIDRED5, .BASOR5,
{
    border-top-color: #3F3F3F;
}
.BORDERTOPDASHEDRED1, .BTDAR1,
.BORDERTOPDASHEDRED2, .BTDAR2,
.BORDERTOPDASHEDRED3, .BTDAR3,
.BORDERTOPDASHEDRED4, .BTDAR4,
.BORDERTOPDASHEDRED5, .BTDAR5,
.BORDERTOPDOUBLERED1, .BTDOR1,
.BORDERTOPDOUBLERED2, .BTDOR2,
.BORDERTOPDOUBLERED3, .BTDOR3,
.BORDERTOPDOUBLERED4, .BTDOR4,
.BORDERTOPDOUBLERED5, .BTDOR5,
.BORDERTOPDOTTEDRED1, .BTDTR1,
.BORDERTOPDOTTEDRED2, .BTDTR2,
.BORDERTOPDOTTEDRED3, .BTDTR3,
.BORDERTOPDOTTEDRED4, .BTDTR4,
.BORDERTOPDOTTEDRED5, .BTDTR5,
.BORDERTOPSOLIDRED1, .BTSOR1,
.BORDERTOPSOLIDRED2, .BTSOR2,
.BORDERTOPSOLIDRED3, .BTSOR3,
.BORDERTOPSOLIDRED4, .BTSOR4,
.BORDERTOPSOLIDRED5, .BTSOR5,
.BORDERALLDASHEDRED1, .BADAR1,
.BORDERALLDASHEDRED2, .BADAR2,
.BORDERALLDASHEDRED3, .BADAR3,
.BORDERALLDASHEDRED4, .BADAR4,
.BORDERALLDASHEDRED5, .BADAR5,
.BORDERALLDOUBLERED1, .BADOR1,
.BORDERALLDOUBLERED2, .BADOR2,
.BORDERALLDOUBLERED3, .BADOR3,
.BORDERALLDOUBLERED4, .BADOR4,
.BORDERALLDOUBLERED5, .BADOR5,
.BORDERALLDOTTEDRED1, .BADTR1,
.BORDERALLDOTTEDRED2, .BADTR2,
.BORDERALLDOTTEDRED3, .BADTR3,
.BORDERALLDOTTEDRED4, .BADTR4,
.BORDERALLDOTTEDRED5, .BADTR5,
.BORDERALLSOLIDRED1, .BASOR1,
.BORDERALLSOLIDRED2, .BASOR2,
.BORDERALLSOLIDRED3, .BASOR3,
.BORDERALLSOLIDRED4, .BASOR4,
.BORDERALLSOLIDRED5, .BASOR5,
{
    border-top-color: #7F7F7F;
}
.BORDERTOPDASHEDRED1, .BTDAR1,
.BORDERTOPDASHEDRED2, .BTDAR2,
.BORDERTOPDASHEDRED3, .BTDAR3,
.BORDERTOPDASHEDRED4, .BTDAR4,
.BORDERTOPDASHEDRED5, .BTDAR5,
.BORDERTOPDOUBLERED1, .BTDOR1,
.BORDERTOPDOUBLERED2, .BTDOR2,
.BORDERTOPDOUBLERED3, .BTDOR3,
.BORDERTOPDOUBLERED4, .BTDOR4,
.BORDERTOPDOUBLERED5, .BTDOR5,
.BORDERTOPDOTTEDRED1, .BTDTR1,
.BORDERTOPDOTTEDRED2, .BTDTR2,
.BORDERTOPDOTTEDRED3, .BTDTR3,
.BORDERTOPDOTTEDRED4, .BTDTR4,
.BORDERTOPDOTTEDRED5, .BTDTR5,
.BORDERTOPSOLIDRED1, .BTSOR1,
.BORDERTOPSOLIDRED2, .BTSOR2,
.BORDERTOPSOLIDRED3, .BTSOR3,
.BORDERTOPSOLIDRED4, .BTSOR4,
.BORDERTOPSOLIDRED5, .BTSOR5,
.BORDERALLDASHEDRED1, .BADAR1,
.BORDERALLDASHEDRED2, .BADAR2,
.BORDERALLDASHEDRED3, .BADAR3,
.BORDERALLDASHEDRED4, .BADAR4,
.BORDERALLDASHEDRED5, .BADAR5,
.BORDERALLDOUBLERED1, .BADOR1,
.BORDERALLDOUBLERED2, .BADOR2,
.BORDERALLDOUBLERED3, .BADOR3,
.BORDERALLDOUBLERED4, .BADOR4,
.BORDERALLDOUBLERED5, .BADOR5,
.BORDERALLDOTTEDRED1, .BADTR1,
.BORDERALLDOTTEDRED2, .BADTR2,
.BORDERALLDOTTEDRED3, .BADTR3,
.BORDERALLDOTTEDRED4, .BADTR4,
.BORDERALLDOTTEDRED5, .BADTR5,
.BORDERALLSOLIDRED1, .BASOR1,
.BORDERALLSOLIDRED2, .BASOR2,
.BORDERALLSOLIDRED3, .BASOR3,
.BORDERALLSOLIDRED4, .BASOR4,
.BORDERALLSOLIDRED5, .BASOR5,
{
    border-top-color: #BFBFBF;
}


.BORDERTOP1, .BT1
{
    border-top: 1px solid black;
}
.BORDERTOP2, .BT2
{
    border-top: 2px solid black;
}
.BORDERTOP3, .BT3
{
    border-top: 3px solid black;
}
.BORDERTOP4, .BT4
{
    border-top: 4px solid black;
}
.BORDERTOP5, .BT5
{
    border-top: 5px solid black;
}
/* Right ------------------------------ */
.BORDERRIGHT1, .BR1
{
    border-right: 1px solid black;
}
.BORDERRIGHT2, .BR2
{
    border-right: 2px solid black;
}
.BORDERRIGHT3, .BR3
{
    border-right: 3px solid black;
}
.BORDERRIGHT4, .BR4
{
    border-right: 4px solid black;
}
.BORDERRIGHT5, .BR5
{
    border-right: 5px solid black;
}
/* Bottom ----------------------------- */
.BORDERBOTTOM1, .BB1
{
    border-bottom: 1px solid black;
}
.BORDERBOTTOM2, .BB2
{
    border-bottom: 2px solid black;
}
.BORDERBOTTOM3, .BB3
{
    border-bottom: 3px solid black;
}
.BORDERBOTTOM4, .BB4
{
    border-bottom: 4px solid black;
}
.BORDERBOTTOM5, .BB5
{
    border-bottom: 5px solid black;
}
/* Left ------------------------------- */
.BORDERLEFT1, .BL1
{
    border-left: 1px solid black;
}
.BORDERLEFT2, .BL2
{
    border-left: 2px solid black;
}
.BORDERLEFT3, .BL3
{
    border-left: 3px solid black;
}
.BORDERLEFT4, .BL4
{
    border-left: 4px solid black;
}
.BORDERLEFT5, .BL5
{
    border-left: 5px solid black;
}
/* All -------------------------------- */
.BORDERALL1, .BA1
{
    border: 1px solid black;
}
.BORDERALL2, .BA2
{
    border: 2px solid black;
}
.BORDERALL3, .BA3
{
    border: 3px solid black;
}
.BORDERALL4, .BA4
{
    border: 4px solid black;
}
.BORDERALL5, .BA5
{
    border: 5px solid black;
}

/* Font styles ---------------------------------------------------------------- */
/* weight ----------------------------- */
.BOLD, .FWB
{
    font-weight: bold;
}
.BOLDER, .FWB2
{
    font-weight: bolder;
}
.LIGHTER, .FWL
{
    font-weight: lighter;
}
/* style ------------------------------ */
.ITALIC, .FSI
{
    font-style: italic;
}
.OBLIQUE, .FSO
{
    font-style: oblique;
}
/* font colors ----------------------------- */
.FONTRED, .FCR
{
    color: #FF0000;
}
.FONTGREEN, .FCG
{
    color: #00FF00;
}
.FONTBLUE, .FCB
{
    color: #0000FF;
}
.FONTYELLOW, .FCY
{
    color: #FFFF00;
}
.FONTBLACK, .FC0
{
    color: #000000;
}
.FONTGREY25, .FCG1
{
    color: #3F3F3F;
}
.FONTGREY50, .FCG2
{
   color: #7F7F7F; 
}
.FONTGREY75, .FCG3
{
    color: #BFBFBF;
}
.FONTWHITE, .FCW
{
    color: #FFFFFF;
}
/* background-colors ----------------------------- */
.BACKRED, .BCR
{
    background-color: #FF0000;
}
.BACKGREEN, .BCG
{
    background-color: #00FF00;
}
.BACKBLUE, .BCB
{
    background-color: #0000FF;
}
.BACKYELLOW, .BCY
{
    background-color: #FFFF00;
}
.BACKBLACK, .BC0
{
    background-color: #000000;
}
.BACKGREY25, .BCG1
{
    background-color: #3F3F3F;
}
.BACKGREY50, .BCG2
{
   background-color: #7F7F7F; 
}
.BACKGREY75, .BCG3
{
    background-color: #BFBFBF;
}
.BACKWHITE, .BCW
{
    background-color: #FFFFFF;
}
/* fonts ------------------------------ */
.SERIF, .FFS
{
    font-family: serif;
}
.SANSSERIF, .FFSS
{
    font-family: sans-serif;
}
.MONOSPACE, .FFM
{
    font-family: monospace;
}
/* fonts ------------------------------ */
.REM025, .FS1
{
    font-size: 0.25rem;
}
.REM050, .FS2
{
    font-size: 0.5rem;
}
.REM075, .FS3
{
    font-size: 0.75rem;
}
.REM100, .FS4
{
    font-size: 1rem;
}
.REM125, .FS5
{
    font-size: 1.25rem;
}
.REM150, .FS6
{
    font-size: 1.5rem;
}
.REM175, .FS7
{
    font-size: 1.75rem;
}
.REM200, .FS8
{
    font-size: 2rem;
}
.REM225, .FS9
{
    font-size: 2.25rem;
}
.REM250, .FS10
{
    font-size: 2.5rem;
}
.REM275, .FS11
{
    font-size: 2.75rem;
}
.REM300, .FS12
{
    font-size: 3rem;
}
.REM325, .FS13
{
    font-size: 3.25rem;
}
.REM350, .FS14
{
    font-size: 3.5rem;
}
.REM375, .FS15
{
    font-size: 3.75rem;
}
.REM400, .FS16
{
    font-size: 4rem;
}
.REM425, .FS17
{
    font-size: 4.25rem;
}
.REM450, .FS18
{
    font-size: 4.5rem;
}
.REM475, .FS19
{
    font-size: 4.75rem;
}
.REM500, .FS20
{
    font-size: 5rem;
}
/* Small Caps ------------------------- */
.SMALLCAPS, .FVSC
{
    font-variant: small-caps;
}
