/* Padding -------------------------------------------------------------------- */
/* Top -------------------------------- */
.PADDINGTOP1, .PT1,
.PADDINGALL1, .PA1
{
    padding-top: 1px;
}
.PADDINGTOP2, .PT2,
.PADDINGALL2, .PA2
{
    padding-top: 2px;
}
.PADDINGTOP3, .PT3,
.PADDINGALL3, .PA3
{
    padding-top: 3px;
}
.PADDINGTOP4, .PT4,
.PADDINGALL4, .PA4
{
    padding-top: 4px;
}
.PADDINGTOP5, .PT5,
.PADDINGALL5, .PA5
{
    padding-top: 5px;
}
.PADDINGTOP10, .PT10,
.PADDINGALL10, .PA10
{
    padding-top: 10px;
}
.PADDINGTOP15, .PT15,
.PADDINGALL15, .PA15
{
    padding-top: 15px;
}
.PADDINGTOP20, .PT20,
.PADDINGALL20, .PA20
{
    padding-top: 20px;
}
.PADDINGTOP25, .PT25,
.PADDINGALL25, .PA25
{
    padding-top: 25px;
}
/* Right -------------------------------- */
.PADDINGRIGHT1, .PR1,
.PADDINGALL1, .PA1
{
    padding-right: 1px;
}
.PADDINGRIGHT2, .PR2,
.PADDINGALL2, .PA2
{
    padding-right: 2px;
}
.PADDINGRIGHT3, .PR3,
.PADDINGALL3, .PA3
{
    padding-right: 3px;
}
.PADDINGRIGHT4, .PR4,
.PADDINGALL4, .PA4
{
    padding-right: 4px;
}
.PADDINGRIGHT5, .PR5,
.PADDINGALL5, .PA5
{
    padding-right: 5px;
}
.PADDINGRIGHT10, .PR10,
.PADDINGALL10, .PA10
{
    padding-right: 10px;
}
.PADDINGRIGHT15, .PR15,
.PADDINGALL15, .PA15
{
    padding-right: 15px;
}
.PADDINGRIGHT20, .PR20,
.PADDINGALL20, .PA20
{
    padding-right: 20px;
}
.PADDINGRIGHT25, .PR25,
.PADDINGALL25, .PA25
{
    padding-right: 25px;
}
/* Bottom -------------------------------- */
.PADDINGBOTTOM1, .PB1,
.PADDINGALL1, .PA1
{
    padding-bottom: 1px;
}
.PADDINGBOTTOM2, .PB2,
.PADDINGALL2, .PA2
{
    padding-bottom: 2px;
}
.PADDINGBOTTOM3, .PB3,
.PADDINGALL3, .PA3
{
    padding-bottom: 3px;
}
.PADDINGBOTTOM4, .PB4,
.PADDINGALL4, .PA4
{
    padding-bottom: 4px;
}
.PADDINGBOTTOM5, .PB5,
.PADDINGALL5, .PA5
{
    padding-bottom: 5px;
}
.PADDINGBOTTOM10, .PB10,
.PADDINGALL10, .PA10
{
    padding-bottom: 10px;
}
.PADDINGBOTTOM15, .PB15,
.PADDINGALL15, .PA15
{
    padding-bottom: 15px;
}
.PADDINGBOTTOM20, .PB20,
.PADDINGALL20, .PA20
{
    padding-bottom: 20px;
}
.PADDINGBOTTOM25, .PB25,
.PADDINGALL25, .PA25
{
    padding-bottom: 25px;
}
/* Left -------------------------------- */
.PADDINGLEFT1, .PL1,
.PADDINGALL1, .PA1
{
    padding-left: 1px;
}
.PADDINGLEFT2, .PL2,
.PADDINGALL2, .PA2
{
    padding-left: 2px;
}
.PADDINGLEFT3, .PL3,
.PADDINGALL3, .PA3
{
    padding-left: 3px;
}
.PADDINGLEFT4, .PL4,
.PADDINGALL4, .PA4
{
    padding-left: 4px;
}
.PADDINGLEFT5, .PL5,
.PADDINGALL5, .PA5
{
    padding-left: 5px;
}
.PADDINGLEFT10, .PL10,
.PADDINGALL10, .PA10
{
    padding-left: 10px;
}
.PADDINGLEFT15, .PL15,
.PADDINGALL15, .PA15
{
    padding-left: 15px;
}
.PADDINGLEFT20, .PL20,
.PADDINGALL20, .PA20
{
    padding-left: 20px;
}
.PADDINGLEFT25, .PL25,
.PADDINGALL25, .PA25
{
    padding-left: 25px;
}

/* Margin -------------------------------------------------------------------- */
/* Top -------------------------------- */
.MARGINTOP1, .MT1
{
    margin-top: 1px;
}
.MARGINTOP2, .MT2
{
    margin-top: 2px;
}
.MARGINTOP3, .MT3
{
    margin-top: 3px;
}
.MARGINTOP4, .MT4
{
    margin-top: 4px;
}
.MARGINTOP5, .MT5
{
    margin-top: 5px;
}
.MARGINTOP10, .MT10
{
    margin-top: 10px;
}
.MARGINTOP15, .MT15
{
    margin-top: 15px;
}
.MARGINTOP20, .MT20
{
    margin-top: 20px;
}
.MARGINTOP25, .MT25
{
    margin-top: 25px;
}
/* Right ------------------------------ */
.MARGINRIGHT1, .MR1
{
    margin-right: 1px;
}
.MARGINRIGHT2, .MR2
{
    margin-right: 2px;
}
.MARGINRIGHT3, .MR3
{
    margin-right: 3px;
}
.MARGINRIGHT4, .MR4
{
    margin-right: 4px;
}
.MARGINRIGHT5, .MR5
{
    margin-right: 5px;
}
.MARGINRIGHT10, .MR10
{
    margin-right: 10px;
}
.MARGINRIGHT15, .MR15
{
    margin-right: 15px;
}
.MARGINRIGHT20, .MR20
{
    margin-right: 20px;
}
.MARGINRIGHT25, .MR25
{
    margin-right: 25px;
}
/* Bottom ----------------------------- */
.MARGINBOTTOM1, .MB1
{
    margin-bottom: 1px;
}
.MARGINBOTTOM2, .MB2
{
    margin-bottom: 2px;
}
.MARGINBOTTOM3, .MB3
{
    margin-bottom: 3px;
}
.MARGINBOTTOM4, .MB4
{
    margin-bottom: 4px;
}
.MARGINBOTTOM5, .MB5
{
    margin-bottom: 5px;
}
.MARGINBOTTOM10, .MB10
{
    margin-bottom: 10px;
}
.MARGINBOTTOM15, .MB15
{
    margin-bottom: 15px;
}
.MARGINBOTTOM20, .MB20
{
    margin-bottom: 20px;
}
.MARGINBOTTOM25, .MB25
{
    margin-bottom: 25px;
}
/* Left ------------------------------- */
.MARGINLEFT1, .ML1
{
    margin-left: 1px;
}
.MARGINLEFT2, .ML2
{
    margin-left: 2px;
}
.MARGINLEFT3, .ML3
{
    margin-left: 3px;
}
.MARGINLEFT4, .ML4
{
    margin-left: 4px;
}
.MARGINLEFT5, .ML5
{
    margin-left: 5px;
}
.MARGINLEFT10, .ML10
{
    margin-left: 10px;
}
.MARGINLEFT15, .ML15
{
    margin-left: 15px;
}
.MARGINLEFT20, .ML20
{
    margin-left: 20px;
}
.MARGINLEFT25, .ML25
{
    margin-left: 25px;
}
/* All -------------------------------- */
.MARGINALL1, .MA1
{
    margin: 1px;
}
.MARGINALL2, .MA2
{
    margin: 2px;
}
.MARGINALL3, .MA3
{
    margin: 3px;
}
.MARGINALL4, .MA4
{
    margin: 4px;
}
.MARGINALL5, .MA5
{
    margin: 5px;
}
.MARGINALL10, .MA10
{
    margin: 10px;
}
.MARGINALL15, .MA15
{
    margin: 15px;
}
.MARGINALL20, .MA20
{
    margin: 20px;
}
.MARGINALL25, .MA25
{
    margin: 25px;
}

/* Border --------------------------------------------------------------------- */
/* Top -------------------------------- */
.BORDERTOP1, .BT1
{
    border-top: 1px solid black;
}
.BORDERTOP2, .BT2
{
    border-top: 2px solid black;
}
.BORDERTOP3, .BT3
{
    border-top: 3px solid black;
}
.BORDERTOP4, .BT4
{
    border-top: 4px solid black;
}
.BORDERTOP5, .BT5
{
    border-top: 5px solid black;
}
/* Right ------------------------------ */
.BORDERRIGHT1, .BR1
{
    border-right: 1px solid black;
}
.BORDERRIGHT2, .BR2
{
    border-right: 2px solid black;
}
.BORDERRIGHT3, .BR3
{
    border-right: 3px solid black;
}
.BORDERRIGHT4, .BR4
{
    border-right: 4px solid black;
}
.BORDERRIGHT5, .BR5
{
    border-right: 5px solid black;
}
/* Bottom ----------------------------- */
.BORDERBOTTOM1, .BB1
{
    border-bottom: 1px solid black;
}
.BORDERBOTTOM2, .BB2
{
    border-bottom: 2px solid black;
}
.BORDERBOTTOM3, .BB3
{
    border-bottom: 3px solid black;
}
.BORDERBOTTOM4, .BB4
{
    border-bottom: 4px solid black;
}
.BORDERBOTTOM5, .BB5
{
    border-bottom: 5px solid black;
}
/* Left ------------------------------- */
.BORDERLEFT1, .BL1
{
    border-left: 1px solid black;
}
.BORDERLEFT2, .BL2
{
    border-left: 2px solid black;
}
.BORDERLEFT3, .BL3
{
    border-left: 3px solid black;
}
.BORDERLEFT4, .BL4
{
    border-left: 4px solid black;
}
.BORDERLEFT5, .BL5
{
    border-left: 5px solid black;
}
/* All -------------------------------- */
.BORDERALL1, .BA1
{
    border: 1px solid black;
}
.BORDERALL2, .BA2
{
    border: 2px solid black;
}
.BORDERALL3, .BA3
{
    border: 3px solid black;
}
.BORDERALL4, .BA4
{
    border: 4px solid black;
}
.BORDERALL5, .BA5
{
    border: 5px solid black;
}

/* Font styles ---------------------------------------------------------------- */
/* weight ----------------------------- */
.BOLD, .FWB
{
    font-weight: bold;
}
.BOLDER, .FWB2
{
    font-weight: bolder;
}
.LIGHTER, .FWL
{
    font-weight: lighter;
}
/* style ------------------------------ */
.ITALIC, .FSI
{
    font-style: italic;
}
.OBLIQUE, .FSO
{
    font-style: oblique;
}
/* font colors ----------------------------- */
.FONTRED, .FCR
{
    color: #FF0000;
}
.FONTGREEN, .FCG
{
    color: #00FF00;
}
.FONTBLUE, .FCB
{
    color: #0000FF;
}
.FONTYELLOW, .FCY
{
    color: #FFFF00;
}
.FONTBLACK, .FC0
{
    color: #000000;
}
.FONTGREY25, .FCG1
{
    color: #3F3F3F;
}
.FONTGREY50, .FCG2
{
   color: #7F7F7F; 
}
.FONTGREY75, .FCG3
{
    color: #BFBFBF;
}
.FONTWHITE, .FCW
{
    color: #FFFFFF;
}
/* background-colors ----------------------------- */
.BACKRED, .BCR
{
    background-color: #FF0000;
}
.BACKGREEN, .BCG
{
    background-color: #00FF00;
}
.BACKBLUE, .BCB
{
    background-color: #0000FF;
}
.BACKYELLOW, .BCY
{
    background-color: #FFFF00;
}
.BACKBLACK, .BC0
{
    background-color: #000000;
}
.BACKGREY25, .BCG1
{
    background-color: #3F3F3F;
}
.BACKGREY50, .BCG2
{
   background-color: #7F7F7F; 
}
.BACKGREY75, .BCG3
{
    background-color: #BFBFBF;
}
.BACKWHITE, .BCW
{
    background-color: #FFFFFF;
}
/* fonts ------------------------------ */
.SERIF, .FFS
{
    font-family: serif;
}
.SANSSERIF, .FFSS
{
    font-family: sans-serif;
}
.MONOSPACE, .FFM
{
    font-family: monospace;
}
/* fonts ------------------------------ */
.REM025, .FS1
{
    font-size: 0.25rem;
}
.REM050, .FS2
{
    font-size: 0.5rem;
}
.REM075, .FS3
{
    font-size: 0.75rem;
}
.REM100, .FS4
{
    font-size: 1rem;
}
.REM125, .FS5
{
    font-size: 1.25rem;
}
.REM150, .FS6
{
    font-size: 1.5rem;
}
.REM175, .FS7
{
    font-size: 1.75rem;
}
.REM200, .FS8
{
    font-size: 2rem;
}
.REM225, .FS9
{
    font-size: 2.25rem;
}
.REM250, .FS10
{
    font-size: 2.5rem;
}
.REM275, .FS11
{
    font-size: 2.75rem;
}
.REM300, .FS12
{
    font-size: 3rem;
}
.REM325, .FS13
{
    font-size: 3.25rem;
}
.REM350, .FS14
{
    font-size: 3.5rem;
}
.REM375, .FS15
{
    font-size: 3.75rem;
}
.REM400, .FS16
{
    font-size: 4rem;
}
.REM425, .FS17
{
    font-size: 4.25rem;
}
.REM450, .FS18
{
    font-size: 4.5rem;
}
.REM475, .FS19
{
    font-size: 4.75rem;
}
.REM500, .FS20
{
    font-size: 5rem;
}
/* Small Caps ------------------------- */
.SMALLCAPS, .FVSC
{
    font-variant: small-caps;
}
